/* Button */

.defaultSkin .mceButton {
    display: inline-block;
    border: 1px solid #ddd;
    margin-right: 1px;
    padding: 4px;
    min-width: 32px;
    min-height: 32px;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    overflow: visible;
    text-transform: none;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    line-height: 1;
}

.defaultSkin .mceButton:hover,
.defaultSkin .mceButton:focus {
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.defaultSkin .mceButtonActive,
.defaultSkin .mceButtonSelected {
    border: 1px solid #ccc;
    background-color: #ddd;
}

.defaultSkin .mceButtonDisabled .mceIcon {
    opacity: 0.38;
}

.defaultSkin .mceButtonLabeled {
    width: auto
}

.defaultSkin .mceButtonLabeled .mceIcon {
    float: left
}

.defaultSkin .mceButtonLabel {
    display: block;
    font-size: 14px;
    padding: 4px 8px 0 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.defaultSkin .mceButtonDisabled .mceButtonLabel {
    color: #888
}