/* Button */

.mceDefaultSkin .mceButton {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 4px;
    min-width: 32px;
    min-height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: visible;
    text-transform: none;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    line-height: 1;
}

.mceDefaultSkin .mceButton:hover {
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.mceDefaultSkin .mceButton:focus {
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
}

.mceDefaultSkin .mceButtonActive,
.mceDefaultSkin .mceButtonSelected {
    border: 1px solid #ccc;
    background-color: #ddd;
}

.mceDefaultSkin .mceButtonDisabled .mceIcon {
    opacity: 0.38;
}

.mceDefaultSkin .mceButtonLabeled {
    width: auto
}

.mceDefaultSkin .mceButtonLabeled .mceIcon {
    float: left
}

.mceDefaultSkin .mceButtonLabel {
    display: block;
    font-size: 14px;
    padding: 4px 8px 0 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mceDefaultSkin .mceButtonDisabled .mceButtonLabel {
    color: #888
}