.defaultSkin .mce_emotions_icon {
    display: inline-block;
    font-size: 16px;
    line-height: 2em;
    width: auto;
    height: auto;
    min-width: 2em;
    min-height: 2em;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background: #fff;
}

.defaultSkin.mce_emotions .mcePanel {
    display: flex;
    flex-wrap: wrap;
    max-width: 16.75em;
}

.defaultSkin.mce_emotions .mcePanelContent {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.defaultSkin .mce_emotions_icon img {
    padding: 5px;
    cursor: pointer;
}

.mce_emotions_icon:hover,
.mce_emotions_icon:focus {
    background: #eee;
    border-radius: 3px;
}