/* ListBox */
.mceDefaultSkin .mceListBox {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mceDefaultSkin .mceListBox .mceText {
    padding: 0 4px;
    min-width: 96px;
    height: 32px;
    text-align: left;
    border: 1px solid #ddd;
    border-right: 0;
    background: #fff;
    line-height: 2;
    overflow: hidden;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
}

.mceDefaultSkin .mceListBox .mceOpen {
    width: 16px;
    height: 32px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.mceDefaultSkin .mceListBox .mceOpen,
.mceDefaultSkin .mceListBox .mceText {
    float: left;
}

.mceDefaultSkin .mceListBox:hover .mceOpen,
.mceDefaultSkin .mceListBox:focus .mceOpen {
    border-color: #ccc;
    background-color: #fafafa;
}

.mceDefaultSkin .mceListBox:hover .mceText,
.mceDefaultSkin .mceListBox:focus .mceText {
    border-color: #ccc;
}

.mceDefaultSkin .mceListBox .mceOpen:after {
    content: "\25BC";
    display: block;
    font-size: 9px;
    line-height: 32px;
    color: #444;
    text-align: center;
    
    /*background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;*/
}

.mceDefaultSkin .mceListBoxSelected .mceText {
    border: 1px solid #ccc;
    border-right: 0;
    background: #fff;
    border-radius: 2px 0 0 0;
}

.mceDefaultSkin .mceListBoxSelected .mceOpen {
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 0;
    padding-left: 1px;
    border-radius: 0 2px 0 0;
}

.mceDefaultSkin .mceListBoxSelected:hover .mceOpen,
.mceDefaultSkin .mceListBoxSelected:focus .mceOpen {
    background-color: #fff;
}

.mceDefaultSkin .mceListBoxSelected::after {
    content: "";
    padding: 2px 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #fff;
    box-sizing: border-box;
    z-index: 700011;
    border: 1px solid #ccc;
    border-top: 0 none;
    border-bottom: 0 none;
}

.mceDefaultSkin .mceListBoxDisabled .mceOpen:after {
    color: gray;
}

.mceDefaultSkin .mceListBoxDisabled .mceText {
    color: gray;
    background-color: transparent;
}

.mceListBoxMenu {
    overflow: hidden;
    min-width: calc(113px * 2);
    min-height: 98px;
    height: auto;
    max-height: 386px; /*(32px *  12 + 2);*/
    margin-top: 2px;
}

.mceListBoxMenu .mceMenuItems {
    overflow: hidden;
    overflow-y: auto;
}

select.mceNativeListBox {
    font-size: 7pt;
    background: #fafafa;
    border: 1px solid gray;
    margin-right: 2px;
}

.mceListBoxMenu .mceMenuFilter {
    padding: 4px;
    background: #eee;
    /*height: calc(100% - 40px);*/
}

.mceListBoxMenu .mceMenuFilter input {
    height: 32px;
    line-height: 32px;
    width: 100%;
    background: #fff;
    cursor: text;
    padding: 4px 32px 4px 4px;
    box-sizing: border-box;
    border: 0 none;
}

/*.mceListBoxMenu .mceMenuFilter:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url(img/search.png) no-repeat center;
    opacity: 0.5;
    position: absolute;
    top: 4px;
    right: 4px;
}*/

.mceListBoxMenu .mceMenuFilter svg {
    position: absolute;
    right: 14px;
    top: 14px;
    fill:#888;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

/* RTL */
.mceRtl .mceDefaultSkin .mceListBox .mceText {
    text-align: right;
    padding: 0 4px 0 0
}