/* Menu */

.mceMenu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20000;
    border: 1px solid #ddd;
    direction: ltr;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 2px;
}

.mceMenu .mceMenuItems div {
    background-color: #fff;
}

.mceMenu .mceMenuItems span,
.mceMenu .mceMenuItems {
    display: block
}

.mceMenu .mceMenuItems .mceMenuItem {
    position: relative;
    padding: 0;
    cursor: pointer;
}

.mceMenu .mceMenuItems .mceText {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    width: 100%;
}

.mceMenu .mceMenuItems .mceIcon + .mceText {
    padding: 0 32px 0 40px;
}

.mceMenu .mceMenuItems .mceText,
.mceMenu .mceMenuItems .mcePreview {
    font-size: 14px;
    line-height: 32px;
}

.mceMenu .mceMenuItems pre.mceText {
    font-family: Monospace;
}

.mceMenu .mceMenuItems .mceIcon {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 20px;
}

.mceMenu .mceMenuItems {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.mceMenu .mceMenuFilter + .mceMenuItems {
    height: calc(100% - 40px);
}

.mceMenu .mceMenuItems .mceMenuItemHidden {
    display: none;
}

.mceMenu .mceMenuItems .mceMenuItemEnabled:hover,
.mceMenu .mceMenuItems .mceMenuItemEnabled:focus,
.mceMenu .mceMenuItems .mceMenuItemActive,
.mceMenu .mceMenuItems .mceSelected {
    background-color: #eee
}

.mceMenu .mceMenuItems .mceMenuItemEnabled .mceTableSplitMenu a:hover {
    background-color: transparent;
}

.mceMenu .mceMenuItemsItemSeparator {
    background: #ddd;
    height: 1px
}

.mceMenu .mceMenuItemsItemDisabled .mceText {
    color: #888
}

/*.mceMenu .mceMenuItemsItemSelected .mceIcon {
    background: url(img/menu_check.gif)
}*/

.mceMenu .mceNoIcons .mceMenuItemSelected .mceMenuItem {
    background: url(img/menu_arrow.gif) no-repeat left center
}

.mceMenu .mceMenuItemsItemSub .mceMenuItem {
    background: url(img/menu_arrow.gif) no-repeat center right;
}

/* Rtl */
.mceRtl .mceMenuItem .mceText {
    text-align: right
}

.mceMenu .mceMenuItems .mceMenuHtml {
    position: relative;
}

.ceMenu .mceMenuItems .mceMenuHtml .mceToolbarRow {
    position: relative;
    display: flex;
}

.mceMenu .mceMenuItems .mceMenuHtml .mceToolbarColumn {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mceMenu .mceMenuItems .mceMenuHtml label {
    display: block;
    line-height: 2;
    vertical-align: middle;
}

.mceMenu .mceMenuItems .mceMenuHtml input[type="text"],
.mceMenu .mceMenuItems .mceMenuHtml textarea,
.mceMenu .mceMenuItems .mceMenuHtml select {
    height: 32px;
    width: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    border-radius: 2px;
    box-shadow: inherit;
    box-sizing: border-box;
    cursor: initial;
}

.mceMenu .mceMenuItems .mceMenuHtml textarea {
    height: auto;
}

.mceMenu .mceMenuItems .mceMenuHtml select:not([multiple]):not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.mceMenu .mceMenuItems .mceMenuHtml input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    background: #f5fbfe;
    color: #444;
    box-shadow: inherit;
}

.mceMenu .mceLinkMenu {
    min-width: 220px;
}

.mceMenu .mceLinkMenu .mceMenuHtml input {
    margin-right: 5px;
}

.mceMenu .mceMenuItems .mceMenuHtml .mceButton {
    position: relative;
}

.mceMenu .mceMenuItems .mceMenuHtml .mceButton .mceIcon {
    position: static;
}

.mceMenu .mceButtonMenu {
    margin: 0;
    border: 1px solid #ddd;
    margin-top: 2px;
    margin-left: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mceMenu .mceButtonMenu .mceMenuItem {
    margin: 3px;
}

.mceMenu .mceButtonMenu::before {
    content: "";
    display: block;
    padding: 3px;
    position: absolute;
    width: 40px;
    top: -6px;
    background: #fff;
    left: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.mceMenu .mceModalContent .mceListBox .mceText {
    width: calc(100% - 32px);
}