/* Progress,Resize */

.defaultSkin .mceBlocker {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0.5;
    background: #FFF
}

.defaultSkin .mceProgress {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    background: url(img/progress.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px
}

.defaultSkin .mcePlaceHolder {
    border: 1px dotted gray
}

.defaultSkin .mcePanel.mceContextPanel::before,
.defaultSkin .mcePanel.mceContextPanel::after {
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: transparent;
    content: "";
}

.defaultSkin .mcePanel.mceContextPanel::before {
    top: -9px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-width: 0 9px 9px;
    margin-left: -9px;
}

.defaultSkin .mcePanel.mceContextPanel::after {
    top: -8px;
    border-bottom-color: #fff;
    border-width: 0 8px 8px;
    margin-left: -8px;
}

.defaultSkin.mceArrowDown .mcePanel.mceContextPanel::before {
    bottom: -9px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-width: 9px 9px 0;
    margin-left: -9px;
    top: initial;
}

.defaultSkin.mceArrowDown .mcePanel.mceContextPanel::after {
    bottom: -8px;
    border-top-color: #fff;
    border-width: 8px 8px 0;
    margin-left: -8px;
    top: initial;
}

.defaultSkin .mceMenu div[class*="mceFontSize"] {
    margin: 0.125em;
}

.mceCharacterMap {
    padding: 0;
}

.mceCharacterMap>div {
    flex: 1;
}

.mceModal .mceModalBody[dir="rtl"] .mceCharacterMap>div {
    text-align: right;
}

.mceCharacterMap>div+div {
    max-width: 11em;
    border: 1px solid #ddd;
}

.mceModal .mceModalContent .mceCharacterMap button {
    background: #fff;
    width: 1.5em;
    min-width: inherit;
    height: 1.5em;
    padding: 0;
    line-height: 1rem;
    vertical-align: middle;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

    border: 1px solid #ddd;
    display: inline-block;
    margin: 0 1px 1px 0;
}

.mceModal .mceModalContent .mceCharacterMap button:hover,
.mceModal .mceModalContent .mceCharacterMap button:focus {
    border: 1px solid #ccc;
    background-color: #e6e6e6;
}

.mceCharacterMapDescription h1 {
    line-height: 2;
    font-size: 3em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

.mceCharacterMapDescription h3 {
    line-height: 2em;
    font-size: 1.25em;
    height: 2em;
    text-align: center;
}

.mceCharacterMapDescription h4 {
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
    color: #888;
}

.mceCharacterMapDescription {
    font-size: 1em;
}

.mceCharacterMap ul li:hover,
.mceCharacterMap ul li:hover button {
    background: #f5f5f5;
    color: #444;
    text-decoration: none;
}

/*.defaultSkin .mceButton:focus::after,
.defaultSkin .mceSplitButton:focus::after,
.defaultSkin .mceListBox:focus::after {
    content: attr(title);
    position: absolute;
    background: #444;
    color: #fff;
    font-size: 12px;
    width: 64px;
    line-height: 1;
    z-index: 100;
    padding: 4px;
    border-radius: 2px;
    white-space: pre-wrap;
    word-wrap: normal;
    left: -20px;
    top: 36px;
    text-align: center;
}*/