/* Reset */

.mceModal .mceIcon {
    vertical-align: baseline;
    line-height: 1;
}

.mceModal .mce_arrow-up:before {
    content: "\edcc";
}

.mceModal .mce_arrow-down:before {
    content: "\edd0";
}

.mceModal button:disabled .mceIcon {
    color: #888;
}

/* General */

.mceModal {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.mceModal * {
    box-sizing: border-box;
    white-space: normal;
}

.mceModal .mceModalOverlay {
    position: fixed;
    cursor: pointer;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 10001;
}

.mceModal .mceModalFrame {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 8px;
}

.mceModal .mceModalFrame:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*.mceLoading .mceModalContent {
    background: #fff url('../../../themes/advanced/skins/default/img/progress.gif') no-repeat center 45%;
}*/

.mceModal .mceLoading .mceModalContent:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.8;
    z-index: 10000;
    box-sizing: border-box;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mceModal .mceLoading .mceModalContent:after {
    content: "";
    display: block;
    border: 0.25rem solid rgba(0, 0, 0, 0.1);
    border-left-color: #888;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: donut-spin 1.2s linear infinite;
    z-index: 10001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1rem 0 0 -1rem;
    box-sizing: border-box;
}

.mceModal .mceModalHeader {
    padding: 8px;
    background-color: #fff;
    /*border-bottom: 1px solid #ddd;*/
    display: flex;
    align-items: center;
}

.mceModal .mceModalHeader h5 {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    pointer-events: none;
    width: 100%;
    flex: 1;
}

.mceModal .mceModalBody[dir="rtl"] .mceModalHeader h5 {
    text-align: right;
}

.mceModal .mceModalMove {
    cursor: move;
}

.mceModal .mceModalContent {
    background: #fff;
    position: relative;
    /**/
    height: auto;
}

.mceModal .mceModalContentIframe {
    height: calc(100% - 48px);
}

.mceModal .mceModalConfirm .mceModalContent,
.mceModal .mceModalAlert .mceModalContent {
    /*height: calc(100% - 98px);*/
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mceModal .mceModalContent iframe {
    width: 100%;
    min-height: inherit;
}

.mceModal .mceModalFooter {
    margin: 0;
    padding: 8px;
    /*border-top: 1px solid #e5e5e5;*/
    border-radius: 0 0 2px;
    text-align: right;
    /*background-color: #f5f5f5;*/
    background-color: #fff;
}

.mceModal .mceModalBody {
    cursor: default;
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    width: 100%;
    min-width: 160px;
}

.mceModal .mceModalContainer {
    overflow: hidden;
    max-width: 100%;
    /*height: auto;*/
    height: 100%;
    line-height: 0;
    /*border-radius: 2px;*/
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.mceModal .mceModalClose {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    cursor: pointer;
    background: #fff;
}

.mceModal .mceModalClose:hover,
.mceModal .mceModalClose:focus {
    background: #e5e5e5;
    border: 0 none;
}

.mceModal .mceModalClose:after {
    color: #444;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0 1px;
    text-align: center;
    text-decoration: none;
    content: "\00d7";
}

.mceModal .mceModalContent>div,
.mceModal .mceModalContent>form {
    height: auto;
    padding: 8px;
    text-align: center;
    line-height: 1;
}

.mceModal .mceModalContent iframe {
    border: 0 none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.mceModal .mceModalPlaceHolder {
    border: 1px solid #000;
    background: #888;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.mceModal .mceButton {
    min-width: 5em;
    height: 32px;
    line-height: 1;
    background: #fff;
    /*border-radius: 2px;*/
    border-radius: 2px;
    color: #444;
    /*border: 1px solid #ddd;*/
    border: 1px solid #fff;
    margin: 0 0 0 4px;
    padding: 0 8px;
}

.mceModal .mceButton:focus,
.mceModal .mceButton:hover {
    color: #444;
    outline: 0;
    text-decoration: none;
}

.mceModal .mceButton:focus,
.mceModal .mceButton:hover {
    border-color: #888;
    background: #fff;
}

.mceModal .mceButton:disabled,
.mceModal .mceButton:focus:disabled,
.mceModal .mceButton:hover:disabled {
    color: #888;
    background: #f5f5f5;
    border-color: #eee;
}

.mceModal .mceButtonDefault {
    border-color: #ddd;
}

.mceModal .mceButtonDefault:focus,
.mceModal .mceButtonDefault:hover {
    border-color: #888;
}

.mceModal .mceButtonPrimary {
    background-color: #337ab7;
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: #fff;
}

.mceModal .mceButtonPrimary:hover,
.mceModal .mceButtonPrimary:focus {
    background-color: #286090;
    color: #fff;
    border-color: rgba(0, 0, 0, .21);
}

.mceModalConfirm,
.mceModalAlert {
    min-height: 160px;
}

[class*="mce-modal-landscape-"] .mceModalContentIframe {
    padding-bottom: calc(56.25% - 61px);
    height: 0;
    /* 16:9 */
}

[class*="mce-modal-portrait-"] .mceModalContentIframe {
    padding-bottom: calc(133.33% - 61px);
    /* 3:4 */
}

.mce-modal-landscape-128,
.mce-modal-landscape-xxsmall {
    max-width: 128px;
}

.mce-modal-landscape-256,
.mce-modal-landscape-xsmall {
    max-width: 256px;
}

.mce-modal-landscape-384,
.mce-modal-landscape-small,
.mceModalConfirm,
.mceModalAlert {
    max-width: 384px;
}

.mce-modal-landscape-512,
.mce-modal-landscape-medium {
    max-width: 512px;
}

.mce-modal-landscape-640,
.mce-modal-landscape-large {
    max-width: 640px;
}

.mce-modal-landscape-768,
.mce-modal-landscape-xlarge {
    max-width: 768px;
}

.mce-modal-landscape-896,
.mce-modal-landscape-xxlarge {
    max-width: 896px;
}

.mce-modal-landscape-1024 {
    max-width: 1024px;
}

.mce-modal-landscape-full {
    width: calc(100% - 40px);
    height: calc(100vh - 20px);
    padding: 0;
}

.mce-modal-portrait-128,
.mce-modal-portrait-xsmall {
    max-width: 128px;
}

.mce-modal-portrait-256,
.mce-modal-portrait-small {
    max-width: 256px;
}

.mce-modal-portrait-320 {
    max-width: 320px;
}

.mce-modal-portrait-384,
.mce-modal-portrait-medium {
    max-width: 384px;
}

.mce-modal-portrait-512,
.mce-modal-portrait-large {
    max-width: 512px;
}

.mce-modal-portrait-640,
.mce-modal-portrait-xlarge {
    max-width: 640px;
}

.mce-modal-portrait-768,
.mce-modal-portrait-full {
    width: calc(100% - 40px);
    height: calc(100vh - 20px);

    max-height: 768px;
    padding: 0;
}

.mce-modal-portrait-full {
    max-width: 1024px;
}

.mce-modal-portrait-768 {
    max-width: 768px;
}

.mce-modal-landscape-full .mceModalContentIframe,
.mce-modal-portrait-full .mceModalContentIframe {
    padding: 0;
    height: calc(100% - 48px);
}

.mce-modal-square-xlarge {
    max-width: 896px;
}

.mce-modal-square-xlarge .mceModalContentIframe {
    padding-bottom: calc(83.46% - 48px);
}

.mceModal .mceModalContent input[type="text"],
.mceModal .mceModalContent input[type="number"],
.mceModal .mceModalContent textarea,
.mceModal .mceModalContent select {
    height: 32px;
    width: 100%;
    padding: 4px;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    border-radius: 2px;
    box-shadow: inherit;
    margin: inherit;
    line-height: 1;
    font-size: inherit;
    font-size: 14px;
}

.mceModal .mceModalContent input[type]:disabled,
.mceModal .mceModalContent textarea:disabled,
.mceModal .mceModalContent select:disabled,
.mceModal .mceModalContent select option:disabled {
    color: #888;
    background: #eee;
    cursor: not-allowed;
}

.mceModal .mceModalContent button {
    min-width: 32px;
    margin: 0;
}

.mceModal .mceModalContent textarea {
    height: auto;
    line-height: 1.5;
    resize: vertical;
}

.mceModal .mceModalContent input[type]:focus,
.mceModal .mceModalContent textarea:focus {
    border-color: #66afe9;
    outline: 0;
    background: #f5fbfe;
    color: #444;
}

.mceModal .mceModalContent input[type="radio"]:focus {
    border-radius: 100%
}

.mceModal .mceModalContent label {
    line-height: 32px;
    width: 96px;
    margin-right: 8px;
}

.mceModal .mceModalContent .mceModalStack label {
    width: 100%;
}

.mceModal .mceModalContent input+label {
    display: inline-block;
}

.mceModal .mceModalContent .mceModalRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.mceModal .mceModalContent .mceModalControl {
    flex: 1;
    margin: 0;
}

.mceModal .mceModalContent .mceModalFlexNone {
    flex: inherit;
}

.mceModal .mceModalContent .mceModalControl iframe {
    position: relative;
    border: 1px solid #ddd;
}

.mceModal .mceModalConfirm .mceModalContent p,
.mceModal .mceModalAlert .mceModalContent p {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}

/* style select */
.mceModal .mceModalContent select:not([multiple]):not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.mceFlexLayout {
    display: flex;
    flex-wrap: wrap;
}