/* Reset */

.mceModal,
.mceModal * {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    background: transparent;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
}


/* General */

.mceModal {
    position: absolute;
    z-index: 300000;
    width: 100%;
    height: 100%;
}

.mceModalOverlay {
    position: fixed;
    cursor: pointer;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    -ms-filter: 'alpha(opacity=80)';
    filter: alpha(opacity=80);
    z-index: 300001;
}

.mceModalFrame {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 10px;
}

.mceModalFrame:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*.mceLoading .mceModalContent {
    background: #fff url('../../../themes/advanced/skins/default/img/progress.gif') no-repeat center 45%;
}*/

.mceLoading .mceModalContent:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.8;
    z-index: 10000;
    box-sizing: border-box;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mceLoading .mceModalContent:after {
    content: "";
    display: block;
    border: 0.25rem solid rgba(0, 0, 0, 0.1);
    border-left-color: #888;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: donut-spin 1.2s linear infinite;
    z-index: 10001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1rem 0 0 -1rem;
    box-sizing: border-box;
}

.mceModalHeader {
    padding: 10px 30px 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    min-height: 20px;
}

.mceModalHeader h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    pointer-events: none;
}

.mceModalMove {
    cursor: move;
}

.mceModalContent {
    background: #fff;
    border-radius: 0 0 3px 3px;
    position: relative;
    height: 94%;
    height: calc(100% - 41px);
}

.mceModalConfirm .mceModalContent,
.mceModalAlert .mceModalContent {
    height: 46%;
    height: calc(100% - 90px);
}

.mceModalContent iframe {
    width: 100%;
    min-height: inherit;
}

.mceModalFooter {
    margin: -3px 0 0 0;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 3px 3px;
    background: #fff;
    text-align: center;
}

.mceModalBody {
    cursor: default;
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    width: 100%;
    min-width: 160px;
}

.mceModalContainer {
    overflow: hidden;
    max-width: 100%;
    /*height: auto;*/
    height: 100%;
    line-height: 0;
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.mceModalClose {
    float: none;
    left: auto;
    position: absolute;
    right: 15px;
    top: 10px;
    width: auto;
    height: auto;
}

.mceModalClose:hover {
    background: none;
    border: 0 none;
}

.mceModalClose:after {
    color: #444;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 0 1px;
    text-align: center;
    text-decoration: none;
    content: "\00d7";
}

.mceModalClose:hover:after {
    color: #888;
}

.mceModalContent>div {
    height: auto;
    padding: 20px 10px;
    text-align: center;
    line-height: 14px;
}

.mceModalContent iframe {
    border: 0 none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.mceModalPlaceHolder {
    border: 1px solid #000;
    background: #888;
    top: 0;
    left: 0;
    opacity: 0.5;
    -ms-filter: 'alpha(opacity=50)';
    filter: alpha(opacity=50)
}


/* Alert/Confirm */

.mceModal .mceButton {
    font-weight: bold;
    bottom: 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    outline: 0;
    background: #f5f5f5;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #E6E6E6;
    margin: 0 5px;
}

.mceModal .mceButton:focus,
.mceModal .mceButton:hover {
    background-color: #fafafa;
    color: #444;
    outline: 0;
    text-decoration: none;
    border-color: #CDCDCD;
}

.mceModalConfirm,
.mceModalAlert {
    min-height: 160px;
}

[class*="mce-modal-landscape-"] .mceModalContent {
    padding-bottom: calc(56.25% - 61px);
    height: 0;
    /* 16:9 */
}

[class*="mce-modal-portrait-"] .mceModalContent {
    padding-bottom: calc(133.33% - 61px);
    /* 3:4 */
}

.mce-modal-landscape-128,
.mce-modal-landscape-xxsmall {
    max-width: 128px;
}

.mce-modal-landscape-256,
.mce-modal-landscape-xsmall {
    max-width: 256px;
}

.mce-modal-landscape-384,
.mce-modal-landscape-small,
.mceModalConfirm,
.mceModalAlert {
    max-width: 384px;
}

.mce-modal-landscape-512,
.mce-modal-landscape-medium {
    max-width: 512px;
}

.mce-modal-landscape-640,
.mce-modal-landscape-large {
    max-width: 640px;
}

.mce-modal-landscape-768,
.mce-modal-landscape-xlarge {
    max-width: 768px;
}

.mce-modal-landscape-896,
.mce-modal-landscape-xxlarge {
    max-width: 896px;
}

.mce-modal-landscape-1024 {
    max-width: 1024px;
}

.mce-modal-landscape-full {
    width: calc(100% - 40px);
    height: calc(100vh - 20px);
    padding: 0;
}

.mce-modal-portrait-128,
.mce-modal-portrait-xsmall {
    max-width: 128px;
}

.mce-modal-portrait-256,
.mce-modal-portrait-small {
    max-width: 256px;
}

.mce-modal-portrait-320 {
    max-width: 320px;
}

.mce-modal-portrait-384,
.mce-modal-portrait-medium {
    max-width: 384px;
}

.mce-modal-portrait-512,
.mce-modal-portrait-large {
    max-width: 512px;
}

.mce-modal-portrait-640,
.mce-modal-portrait-xlarge {
    max-width: 640px;
}

.mce-modal-portrait-768,
.mce-modal-portrait-full {
    width: calc(100% - 40px);
    height: calc(100vh - 20px);

    max-height: 768px;
    padding: 0;
}

.mce-modal-portrait-full {
    max-width: 1024px;
}

.mce-modal-portrait-768 {
    max-width: 768px;
}

.mce-modal-landscape-full .mceModalContent,
.mce-modal-portrait-full .mceModalContent {
    padding: 0;
    height: calc(100% - 41px);
}

.mce-modal-square-xlarge {
    max-width: 896px;
}

.mce-modal-square-xlarge .mceModalContent {
    padding-bottom: calc(83.46% - 41px);
}

.mceModal .mceModalContent input[type="text"],
.mceModal .mceModalContent input[type="number"],
.mceModal .mceModalContent textarea,
.mceModal .mceModalContent select {
    height: 32px;
    width: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    border-radius: 2px;
    box-shadow: inherit;
    box-sizing: border-box;
}

/* style select */
.mceModal .mceModalContent select:not([multiple]):not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}