/* Panel */

.mceDefaultSkin .mcePanel {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1000;
    border: 1px solid #ddd;
    direction: ltr;
    background: #fafafa;
    padding: 0;
    font-family: -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.mceDefaultSkin .mcePanelButtonActive {
    background-color: #eee;
    border-color: #ddd;
}

.mceDefaultSkin .mcePanelButtonSelected,
.mceDefaultSkin .mcePanelButtonSelected:hover {
    background-color: #fff;
    border-color: #ddd;
}

.mceDefaultSkin .mcePanelButtonSelected .mceOpen,
.mceDefaultSkin .mcePanelButtonSelected:hover .mceOpen {
    border-left-color: transparent;
}

.mceDefaultSkin .mcePanel h4 {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.mceDefaultSkin .mcePanel .mcePanelContent {
    background-color: #fff;
    font-size: 14px;
    padding: 4px;
    white-space: normal;
}

.mceDefaultSkin .mcePanel .mcePanelContent .mceToolbarRow {
    display: flex;
}

.mceDefaultSkin .mcePanel .mcePanelContent label {
    display: block;
    line-height: 2;
    vertical-align: middle;
}

.mceDefaultSkin .mcePanel input[type="text"],
.mceDefaultSkin .mcePanel textarea,
.mceDefaultSkin .mcePanel select {
    height: 32px;
    width: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    border-radius: 2px;
    box-shadow: inherit;
    box-sizing: border-box;
}

.mceDefaultSkin .mcePanel input[type="text"],
.mceDefaultSkin .mcePanel textarea {
    min-width: 12em;
    cursor: text;
}

.mceDefaultSkin .mcePanel textarea {
    height: auto;
}

.mceDefaultSkin .mcePanel select:not([multiple]):not([size]) {
    appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.mceDefaultSkin .mcePanel input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    background: #f5fbfe;
    color: #444;
    box-shadow: inherit;
}

.mceDefaultSkin .mcePanel .mcePanelFooter .mceButton {
    appearance: none;
    margin: 0 0 0 5px;
    border: none;
    overflow: visible;
    color: #444;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #fff;
    vertical-align: middle;
    line-height: 26px;
    min-height: 32px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    cursor: pointer;
}

.mceDefaultSkin .mcePanel .mcePanelFooter .mceButton:hover {
    background-color: #fafafa;
    color: #444;
    outline: 0;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0.16);
}

.mceDefaultSkin .mcePanel .mcePanelFooter .mceButtonPrimary {
    background-color: #337ab7;
    color: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .05);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
}

.mceDefaultSkin .mcePanel .mcePanelFooter .mceButton:hover,
.mceDefaultSkin .mcePanel .mcePanelFooter .mceButton:focus {
    background-color: #fafafa;
    color: #444;
    outline: 0;
    text-decoration: none;
    border-color: rgba(0, 0, 0, .16);
}

.mceDefaultSkin .mcePanel .mcePanelFooter .mceButtonDisabled,
.mceDefaultSkin .mcePanel .mcePanelFooter .mceButtonDisabled:hover,
.mceDefaultSkin .mcePanel .mcePanelFooter .mceButtonDisabled:focus {
    background: #eee;
    color: #888;
}

.mceDefaultSkin .mcePanel .mcePanelFooter .mceButtonPrimary:hover {
    background-color: #35b3ee;
    color: #fff;
    border-color: rgba(0, 0, 0, .21);
}

.mceDefaultSkin .mcePanel .mcePanelFooter {
    text-align: right;
    background-color: #f5f5f5;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.mceDefaultSkin .mcePanel:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    background-color: #fff;
    height: 6px;
    left: -1px;
    top: -6px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: content-box;
}

.mceDefaultSkin.mcePanelSplitButton .mcePanel::before {
    width: 46px;
    height: 8px;
    top: -8px;
}

.mceDefaultSkin.mce_search .mcePanel label,
.mceDefaultSkin.mce_search .mcePanel .mcePanelFooter .mceButton {
    min-width: 70px;
}

.mceDefaultSkin.mce_search .mcePanel input.search_error {
    border-color: red;
}

.mceDefaultSkin .mcePanelButtonSelected .mceSplitButton .mceText button {
    border-right-color: transparent;
}

.mceDefaultSkin .mcePanelButtonSelected .mceSplitButton .mceOpen button {
    border-left-color: transparent;
}

.mceDefaultSkin .mcePanelButtonActive .mceText button {
    border-color: #ccc;
    background-color: #ddd;
}

.mceDefaultSkin .mcePanelButtonActive .mceOpen button {
    border-color: #ccc;
    background-color: #ddd;
}