/** Path **/
.mcePathRow {
    overflow: hidden;
    width: 100%;
}

.mcePathHidden .mceText {
    display: none;
}

.mcePathPath .mceText {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
}

.mcePathHidden:after {
    content: "...";
    display: inline-block;
}

.mcePathLabel {
    position: relative;
    display: inline-block;
    min-width: 32px;
    margin: 0 5px 0 0;
    font-size: 14px;
}

.mcePathPath {
    display: inline-block;
}