/** Path **/
.mcePathRow {
    overflow: hidden;
}

.mcePathHidden .mceText {
    display: none;
}

.mcePathPath .mceText {
    cursor: pointer;
}

.mcePathHidden:after {
    content: "...";
    display: inline-block;
}

.mcePathLabel {
    position: relative;
    display: inline-block;
    min-width: 30px;
    margin: 0 5px 0 0;
}

.mcePathPath {
    display: inline-block;
}