/* Reset */

.defaultSkin div,
.defaultSkin a,
.defaultSkin button,
.defaultSkin img,
.defaultSkin div,
.defaultSkin iframe,
.defaultSkin input,
.defaultSkin label,
.defaultSkin .mceText {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    white-space: nowrap;
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    color: #444;
    vertical-align: baseline;
    width: auto;
    border-collapse: separate;
    text-align: left;
    box-sizing: initial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    float: none;
}

.defaultSkin>div {
    width: auto;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: ltr;
    position: relative;
    top: 0;
    left: 0;
}

.defaultSkin a:hover,
.defaultSkin a:link,
.defaultSkin a:visited,
.defaultSkin a:active {
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    color: #000
}

.defaultSkin iframe {
    display: block;
    width: 100%;
}