/* Reset */

.defaultSkin * {
    color: #444;
    font-family: -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
    font-weight: normal;
    cursor: inherit;
    vertical-align: baseline;
    width: auto;
    border-collapse: separate;
    text-align: left;
    box-sizing: border-box;
    float: none;
}

.defaultSkin select, .defaultSkin textarea, .defaultSkin input[type] {
    margin: 0;
    line-height: 1;
    transition: inherit;
}

.defaultSkin input {
    cursor: text;
}

.defaultSkin label,
.defaultSkin input,
.defaultSkin button,
.defaultSkin select {
    font-size: 14px;
}

.defaultSkin input[type="radio"],
.defaultSkin input[type="checkbox"] {
    cursor: inherit;
}

.defaultSkin>div {
    width: auto;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: ltr;
    position: relative;
    top: 0;
    left: 0;
}

.defaultSkin a:hover,
.defaultSkin a:link,
.defaultSkin a:visited,
.defaultSkin a:active {
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    color: #000
}

.defaultSkin iframe {
    display: block;
    width: 100%;
}