/* Reset */

.mceDefaultSkin *,
.mceMenu {
    color: #444;
    font-family: -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
    font-weight: normal;
    cursor: inherit;
    vertical-align: baseline;
    width: auto;
    border-collapse: separate;
    text-align: left;
    box-sizing: border-box;
    float: none;
    outline: none;
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    transition: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
}

.mceDefaultSkin select, .mceDefaultSkin textarea, .mceDefaultSkin input[type] {
    margin: 0;
    line-height: 1;
}

.mceDefaultSkin input {
    cursor: text;
}

.mceDefaultSkin label,
.mceDefaultSkin input,
.mceDefaultSkin button,
.mceDefaultSkin select {
    font-size: 14px;
}

.mceDefaultSkin button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mceDefaultSkin input[type="radio"],
.mceDefaultSkin input[type="checkbox"] {
    cursor: inherit;
}

.mceDefaultSkin>div {
    width: auto;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: ltr;
    position: relative;
    top: 0;
    left: 0;
}

.mceDefaultSkin a:hover,
.mceDefaultSkin a:link,
.mceDefaultSkin a:visited,
.mceDefaultSkin a:active {
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    color: #000
}

.mceDefaultSkin iframe {
    display: block;
    width: 100%;
}