/* SplitButton */
.defaultSkin .mceSplitButton button {
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    width: 32px;
}

.defaultSkin .mceSplitButton .mceText {
    float: left;
}

.defaultSkin .mceSplitButton .mceText,
.defaultSkin .mceSplitButton .mceOpen {
    display: inline-block;
    border: 1px solid #ddd;
}

.defaultSkin .mceSplitButton .mceText {
    border-right: 0;
    border-radius: 2px 0 0 2px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.defaultSkin .mceSplitButton .mceAction {
    width: 20px;
    background-image: url(../../img/icons.png?@@etag@@);
}

.defaultSkin .mceSplitButton .mceOpen {
    width: 16px;
    text-align: center;
    height: 32px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.defaultSkin .mceSplitButton .mceOpen:after {
    content: "\25BC";
    display: block;
    font-size: 9px;
    line-height: 32px;
    color: #444;
    text-align: center;
}

.defaultSkin .mceSplitButtonDisabled .mceOpen:after {
    color: #888;
}

.defaultSkin .mceSplitButton:hover .mceText,
.defaultSkin .mceSplitButton:hover .mceOpen,
.defaultSkin .mceSplitButton:focus .mceText,
.defaultSkin .mceSplitButton:focus .mceOpen {
    border-color: #ccc;
    background-color: #fafafa;
}

.defaultSkin .mceSplitButtonDisabled .mceAction {
    opacity: 0.3;
}

.defaultSkin .mceSplitButtonActive .mceText {
    border-color: #ccc;
    background-color: #ddd;
}

.defaultSkin .mceSplitButtonActive .mceOpen {
    border-left: 0;
    border-color: #ccc;
    background-color: #ddd;
}

.defaultSkin .mceSplitButtonMenu {
    margin: 0;
    border: 1px solid #ddd;
    margin-top: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: calc(48px * 3);
}

.defaultSkin .mceMenuItemSub {
    box-shadow: inherit;
    border: 0;
    margin: 0;
}

.defaultSkin .mceSplitButtonMenu .mceMenuItem {
    margin: 4px;
}

/* ColorSplitButton */
.defaultSkin .mceColorSplitMenu table {
    background: #fff;
}

.defaultSkin .mceColorSplitMenu td {
    padding: 1px
}

.defaultSkin .mceColorSplitMenu button {
    display: block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.defaultSkin .mceColorSplitMenu button:hover,
.defaultSkin .mceColorSplitMenu button:focus {
    border-color: #444;
    outline: none;
}

.defaultSkin .mceColorSplitMenu .mceMoreColors {
    padding: 1px;
}

.defaultSkin .mceColorSplitMenu .mceRemoveColor button:after {
    color: #444;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    content: "\00d7";
    cursor: pointer;
    margin-left: 1px;
}

.defaultSkin .mceColorSplitMenu .mceMoreColors button {
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 32px;
    background: #fff;
    cursor: pointer;
}

.defaultSkin .mceColorSplitMenu .mceMoreColors:hover button {
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.defaultSkin .mceColorPreview {
    width: 16px;
    height: 4px;
    overflow: hidden;
    background: #fafafa;
}

.defaultSkin .mce_forecolor span.mceAction,
.defaultSkin .mce_backcolor span.mceAction {
    overflow: hidden;
    height: 15px
}

/* Table Grid SplitButton */

.mceTableSplitMenu {
    background: #fff;
    border: 0 none;
    padding: 0;
    margin: 0;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: inherit;
}

.defaultSkin .mceTableSplitMenu table {
    padding: 2px;
}

.defaultSkin .mceTableSplitMenu td {
    background-color: #fff;
    text-align: center;
}

.defaultSkin .mceTableSplitMenu td a {
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #ddd;
    padding: 0;
    margin : 1px;
}

.defaultSkin .mceTableSplitMenu .selected a {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.defaultSkin .mceTableSplitMenu .mceTableGridCount {
    background-color: #fff;
    text-align: center;
    line-height: 20px;
}

.defaultSkin .mceSplitButtonMenu:before {
    content: "";
    display: block;
    padding: 4px;
    position: absolute;
    width: 38px;
    top: -6px;
    background: #fff;
    left: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.defaultSkin .mceSplitButtonSelected .mceText,
.defaultSkin .mceSplitButtonSelected:hover .mceText {
    background: #fff;
    border-color: #ddd;
    border-radius: 2px 0 0 0;
}

.defaultSkin .mceSplitButtonSelected .mceOpen,
.defaultSkin .mceSplitButtonSelected:hover .mceOpen {
    background: #fff;
    border-color: #ddd;
    border-left-color: transparent;
    border-radius: 0 2px 0 0;
}

.defaultSkin .mceColorSplitMenu {
    padding: 2px;
    background: #fff;
}

.defaultSkin .mceColumns .mceTableSplitMenu {
    width: 120px;
}

.defaultSkin .mceColumns .mceTableSplitMenu td a {
    width: 24px;
    height: 32px;
}