.defaultSkin .mceTextBox {
    height: 32px;
    line-height: 2;
    width: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    border-radius: 2px;
    box-shadow: inherit;
    box-sizing: border-box;
    cursor: text;
}

.defaultSkin .mceTextBox:focus {
    box-shadow: inherit;
    border-color: #66afe9;
    outline: 0;
    background: #f5fbfe;
    color: #444;
}

.defaultSkin .mceToolbarRow .mceTextBox {
    margin: 1px 0 1px 2px;
    max-width: 10em;
}