/* External */

.defaultSkin .mceExternalToolBar {
    position: absolute;
    border: 1px solid #ddd;
    border-bottom: 0;
    display: none;
}

.defaultSkin .mceExternalToolBar .mceToolbar {
    padding-right: 13px;
}

.defaultSkin .mceExternalClose {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 7px;
    height: 7px;
    background: url(../../img/icons.png?@@etag@@) -820px 0
}

/* Layout */
.defaultSkin .mceLayout {
    border: 1px solid #ddd;
}

.defaultSkin .mceToolbar {
    background: #f5f5f5;
    padding: 2px;
}

.defaultSkin .mceToolbarRow {
    white-space: normal;
    display: flex;
    align-items: center;
}

.defaultSkin .mceLeft .mceToolbarRow {
    justify-content: flex-start;
}

.defaultSkin .mceRight .mceToolbarRow {
    justify-content: flex-end;
}

.defaultSkin .mceCenter .mceToolbarRow {
    justify-content: center
}

.defaultSkin .mceToolbarRow>div,
.defaultSkin .mceToolbarRow>button  {
    margin: 1px 0 1px 2px;
}

.defaultSkin .mceIframeContainer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.defaultSkin .mceToolbar {
    width: auto !important;
}

/* Separator */
.defaultSkin .mceSeparator {
    width: 1px;
    height: 26px;
    margin: 0 3px 0 2px;
    background: #ddd;
    display: block;
}

.defaultSkin .mceFlex {
    display: flex;
}

.defaultSkin .mceFlexAuto {
    flex: auto;
}