/* External */

.mceToolbarFixed .mceToolbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    z-index: 9999;
}

/* Layout */
.mceDefaultSkin .mceLayout {
    border: 1px solid #ddd;
}

.mceDefaultSkin .mceToolbar {
    background: #f5f5f5;
    padding: 2px;
}

.mceDefaultSkin .mceToolbarRow {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mceDefaultSkin.mceRtl .mceToolbarRow {
    justify-content: right;
    flex-direction: row-reverse;
}

.mceDefaultSkin .mceLeft .mceToolbarRow {
    justify-content: flex-start;
}

.mceDefaultSkin .mceRight .mceToolbarRow {
    justify-content: flex-end;
}

.mceDefaultSkin .mceCenter .mceToolbarRow {
    justify-content: center
}

.mceDefaultSkin .mceToolbarRow>div,
.mceDefaultSkin .mceToolbarRow>button  {
    margin: 1px 0 1px 2px;
}

.mceDefaultSkin .mceIframeContainer {
    position: relative;
}

.mceDefaultSkin .mceToolbar {
    width: auto !important;
    border-bottom: 1px solid #ddd;
}

.mceDefaultSkin .mceToolbar:last-child {
    border-bottom: 0 none;
    border-top: 1px solid #ddd;
}

.mceDefaultSkin .mceToolbar:nth-child(2):not(:last-child) {
    border-bottom: 0;
}

.mceDefaultSkin .mceIframeContainer:first-child {
    border-bottom: 1px solid #ddd;
}

.mceDefaultSkin .mceIframeContainer:last-child {
    border-top: 1px solid #ddd;
}

.mceDefaultSkin .mceIframeContainer:nth-child(2) {
    border-top-width: 0;
}

/* Separator */
.mceDefaultSkin .mceSeparator {
    width: 1px;
    height: 26px;
    margin: 0 3px 0 2px;
    background: #ddd;
    display: block;
}

.mceDefaultSkin .mceFlex {
    display: flex;
}

.mceDefaultSkin .mceFlexAuto {
    flex: auto;
}