.mceDefaultSkin .mceStatusbar .mceWordCount {
    float: right;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
}

.mceDefaultSkin .mceStatusbar .mceWordCount .mceText {
    font-size: 14px;
}

.mceDefaultSkin .mceWordCountLimit {
    font-weight: bold;
    color: #cc0000;
}