.defaultSkin .mceStatusbar .mceWordCount {
    float: right;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
}

.defaultSkin .mceStatusbar .mceWordCount .mceText {
    font-size: 14px;
}

.defaultSkin .mceWordCountLimit {
    font-weight: bold;
    color: #cc0000;
}