// out: false
.mceForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .mceFormRow {
        label {
            padding: 0.5em 0;
            min-width: 4em;

            &:first-child {
                flex: 1 0 30%;
            }

            &:last-child {
                flex: 1 0 70%;
            }
        }
    }

    .mceFlexWidth25,
    .mceFlexWidth50 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mceFlexWidth25 {
        .mceFormRow {
            flex: 0 1 25%;
        }
    }

    .mceFlexWidth50 {
        .mceFormRow {
            flex: 0 1 50%;
        }
    }

    legend {
        font-size: 14px;
        font-weight: bold;
    }
}

.mceFormRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    min-height: 32px;
    width: 100%;
    flex-wrap: wrap;
}

.mceFormControl {
    width: 100%;
    min-height: 2em;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;

    &:first-child {
        flex: 1 0 30%;
    }

    &:last-child {
        flex: 1 0 70%;
    }

    &:has(.mceTextBoxDescription) {
        flex-direction: column;
    }

    .mceTextBox+.mceButton {
        position: absolute;
        right: 0;
    }

    .mceListBox {
        width: 100%;

        .mceText {
            width: 100%;
            align-self: flex-start;
        }

        &:focus {

            .mceText,
            .mceOpen {
                border-color: #66afe9;
                background: #f5fbfe;
            }
        }
    }

    input[type="color"]~.mceTextBox {
        max-width: 7em;
    }
}