// out: false

@listbox-height: 32px;
@listbox-combo-height: 30px;
@listbox-min-width: 113px;
@listbox-max-height: 386px;
@border-color: #ddd;
@border-color-active: #ccc;
@color-text: #444;
@color-disabled: gray;
@bg-white: #fff;
@bg-light: #fafafa;
@bg-muted: #eee;
@border-radius-base: 2px;

.flex-row() {
    display: flex;
    flex-direction: row;
}

.mce-button() {
    margin: 0.125em;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    min-width: 5em;
    min-height: inherit;
    padding: 0;
    box-sizing: border-box;
    background: @bg-muted;

    label {
        padding: 0.25em;
        cursor: default;
    }

    &::after {
        position: relative;
        top: 0;
        right: 0;
        display: block;
        text-align: center;
        text-indent: 0;
        content: "\00d7";
        color: @color-text;
        line-height: 1.4;
        font-size: 1.25em;
        font-weight: 700;
        height: 100%;
        width: 1em;
    }
}

.text-input() {
    height: @listbox-height;
    line-height: @listbox-height;
    width: 100%;
    background: @bg-white;
    cursor: text;
    padding: 4px;
    box-sizing: border-box;
    border: 0 none;
    outline: none;
}

/* ListBox */
.mceDefaultSkin {
    .mceListBox {
        .flex-row();

        .mceText {
            padding: 0 4px;
            min-width: 96px;
            height: @listbox-height;
            text-align: left;
            border: 1px solid @border-color;
            border-right: 0;
            background: @bg-white;
            line-height: 2;
            overflow: hidden;
            border-radius: @border-radius-base 0 0 @border-radius-base;
            cursor: pointer;
        }

        .mceOpen {
            width: 16px;
            height: @listbox-height;
            border: 1px solid @border-color;
            text-align: center;
            border-radius: 0 @border-radius-base @border-radius-base 0;
            cursor: pointer;

            background: inherit;
            border-left-width: 0;

            &:after {
                content: "\25BC";
                display: block;
                font-size: 9px;
                line-height: @listbox-height;
                color: @color-text;
                text-align: center;
            }
        }

        &:hover:not(.mceListBoxDisabled),
        &:focus:not(.mceListBoxDisabled) {
            .mceText {
                border-color: @border-color-active;
            }
        }

        .mceComboBox {
            position: relative;
            .flex-row();
            width: 100%;
            min-width: 50%;
            flex: 1;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid @border-color;
            border-radius: @border-radius-base;

            .mceText {
                .text-input();
                height: @listbox-combo-height;
                min-width: 25%;
                flex: 1;
            }

            .mceOpen {
                border: 0 none;
            }

            .mceButton {
                .mce-button();
                margin: 1px;
                min-width: 3em;
                padding: 0 1px 0 0;

                label {
                    min-width: 3em;
                    width: auto;
                    font-size: 12px;
                    line-height: 1.75em;
                }
            }
        }

        &[role="combobox"]>button.mceOpen {
            position: absolute;
            right: 0;
        }
    }

    .mceListBoxSelected {
        .mceText {
            border: 1px solid @border-color-active;
            border-right: 0;
            background: @bg-white;
            border-radius: @border-radius-base 0 0 0;
        }

        .mceOpen {
            background-color: @bg-white;
            border: 1px solid @border-color-active;
            border-left: 0;
            padding-left: 1px;
            border-radius: 0 @border-radius-base 0 0;
        }

        &:hover,
        &:focus {
            .mceOpen {
                background-color: @bg-white;
            }
        }

        &::after {
            content: "";
            padding: 2px 0;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -3px;
            background: @bg-white;
            box-sizing: border-box;
            z-index: 700011;
            border: 1px solid @border-color-active;
            border-top: 0 none;
            border-bottom: 0 none;
        }

        &.mceMenuAbove::after {
            bottom: 0;
            top: 1px;
            height: 2px;
        }
    }

    .mceListBoxDisabled {
        .mceOpen:after {
            color: @color-disabled;
            cursor: not-allowed;
        }

        .mceText {
            color: @color-disabled;
            background-color: transparent;
            cursor: not-allowed;
        }
    }

    &.mceModal {
        .mceListBoxSelected {
            &::after {
                display: none;
            }
        }

        .mceListBoxMenu {
            margin: 0;

            &.mceMenuAbove {
                margin: 0;
            }
        }
    }
}

.mceListBoxMenu {
    min-width: @listbox-min-width * 2;
    min-height: 68px;
    height: auto;
    max-height: @listbox-max-height;
    margin-top: 2px;
    overflow: hidden;

    &.mceMenuAbove {
        margin-top: 0;
        margin-bottom: 2px;
    }

    .mceMenuItems {
        overflow: hidden auto;
        max-height: @listbox-max-height;

        .mceText {
            padding: 0 8px 0 24px;
        }

        .mceSelected {
            outline: 1px dashed @border-color;
            background-color: @bg-muted;
        }

        .mceHasIcon.mceSelected:before {
            left: inherit;
            right: 0.5em;
        }
    }

    .mceMenuFilter {
        border: 1px solid @border-color;
        width: auto;
        margin: 0.125em;
        position: relative;
        .flex-row();
        flex-wrap: wrap;
        border-radius: @border-radius-base;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
        transition: border 0.2s linear, background 0.2s linear;
        cursor: text;

        .mceMenuFilterInput {
            position: relative;
            .flex-row();
            width: 100%;
            min-width: 50%;
            flex: 1;
        }

        input {
            .text-input();
        }

        .mceButton {
            .mce-button();
        }

        svg {
            position: absolute;
            right: 14px;
            top: 14px;
            fill: #888;
            width: 14px;
            height: 14px;
            vertical-align: middle;
        }
    }
}

select.mceNativeListBox {
    font-size: 7pt;
    background: @bg-light;
    border: 1px solid @color-disabled;
    margin-right: 2px;
}

/* RTL */
.mceRtl .mceDefaultSkin .mceListBox .mceText {
    text-align: right;
    padding: 0 4px 0 0;
}