// out: false
/* ListBox */
.mceDefaultSkin {
    .mceListBox {
        display: flex;
        flex-direction: row;

        .mceText {
            padding: 0 4px;
            min-width: 96px;
            height: 32px;
            text-align: left;
            border: 1px solid #ddd;
            border-right: 0;
            background: #fff;
            line-height: 2;
            overflow: hidden;
            border-radius: 2px 0 0 2px;
            cursor: pointer;
        }

        .mceOpen {
            width: 16px;
            height: 32px;
            border: 1px solid #ddd;
            text-align: center;
            border-radius: 0 2px 2px 0;
            cursor: pointer;

            &:after {
                content: "\25BC";
                display: block;
                font-size: 9px;
                line-height: 32px;
                color: #444;
                text-align: center;
            }
        }

        &:hover:not(.mceListBoxDisabled),
        &:focus:not(.mceListBoxDisabled) {
            .mceOpen {
                border-color: #ccc;
                background-color: #fafafa;
            }

            .mceText {
                border-color: #ccc;
            }
        }

        .mceComboBox {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            min-width: 50%;
            flex: 1;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 2px;

            .mceText {
                height: 30px;
                line-height: 32px;
                width: 100%;
                min-width: 25%;
                flex: 1;
                background: #fff;
                cursor: text;
                padding: 4px;
                box-sizing: border-box;
                border: 0 none;
                outline: none;
            }

            .mceOpen {
                border: 0 none;
            }
        }

        &[role="combobox"] > button.mceOpen {
            position: absolute;
            right: 0;
            height: 30px;
            border-width: 1px 1px 0 0;
        }
    }

    .mceListBoxSelected {
        .mceText {
            border: 1px solid #ccc;
            border-right: 0;
            background: #fff;
            border-radius: 2px 0 0 0;
        }

        .mceOpen {
            background-color: #fff;
            border: 1px solid #ccc;
            border-left: 0;
            padding-left: 1px;
            border-radius: 0 2px 0 0;
        }

        &:hover,
        &:focus {
            .mceOpen {
                background-color: #fff;
            }
        }

        &::after {
            content: "";
            padding: 2px 0;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -3px;
            background: #fff;
            box-sizing: border-box;
            z-index: 700011;
            border: 1px solid #ccc;
            border-top: 0 none;
            border-bottom: 0 none;
        }
    }

    .mceListBoxDisabled {
        .mceOpen:after {
            color: gray;
            cursor: not-allowed;
        }

        .mceText {
            color: gray;
            background-color: transparent;
            cursor: not-allowed;
        }
    }
}

.mceListBoxMenu {
    min-width: calc(113px * 2);
    min-height: 68px;
    height: auto;
    max-height: 386px;
    margin-top: 2px;
    overflow: hidden;

    .mceMenuItems {
        overflow: hidden auto;
        max-height: 386px;

        .mceText {
            padding: 0 8px 0 24px;
        }

        .mceSelected {
            outline: 1px dashed #ddd;
            background-color: #eee;
        }

        .mceHasIcon.mceSelected:before {
            left: inherit;
            right: 0.5em;
        }
    }

    .mceMenuFilter {
        border: 1px solid #ddd;
        width: auto;
        margin: 0.125em;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 2px;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
        transition: border 0.2s linear, background 0.2s linear;
        cursor: text;

        .mceMenuFilterInput {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            min-width: 50%;
            flex: 1;
        }

        input {
            height: 32px;
            line-height: 32px;
            width: 100%;
            background: #fff;
            cursor: text;
            padding: 4px;
            box-sizing: border-box;
            border: 0 none;
            outline: none;
        }

        svg {
            position: absolute;
            right: 14px;
            top: 14px;
            fill: #888;
            width: 14px;
            height: 14px;
            vertical-align: middle;
        }
    }
}

/* Shared button styles: filter bar and combobox */
.mceListBoxMenu .mceMenuFilter .mceButton,
.mceListBox .mceComboBox .mceButton {
    margin: 0.125em;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    min-width: 5em;
    min-height: inherit;
    padding: 0;
    box-sizing: border-box;
    background: #eee;

    label {
        padding: 0.25em;
        cursor: default;
    }

    &::after {
        position: relative;
        top: 0;
        right: 0;
        display: block;
        text-align: center;
        text-indent: 0;
        content: "\00d7";
        color: #444;
        line-height: 1.4;
        font-size: 1.25em;
        font-weight: 700;
        height: 100%;
        width: 1em;
    }
}

.mceListBox .mceComboBox .mceButton {
    margin: 1px;
    min-width: 3em;
    padding: 0 1px 0 0;

    label {
        min-width: 3em;
        width: auto;
        font-size: 12px;
        line-height: 1.75em;
    }
}

select.mceNativeListBox {
    font-size: 7pt;
    background: #fafafa;
    border: 1px solid gray;
    margin-right: 2px;
}

/* RTL */
.mceRtl .mceDefaultSkin .mceListBox .mceText {
    text-align: right;
    padding: 0 4px 0 0;
}
