// out: false
.mceDefaultSkin {
    .mceSizeBox {
        display: flex;
        align-items: center;
        gap: 1em;

        .mceTextBox {
            flex: 0 1 25%;
        }

        .mceSeparator {
            display: inline-flex;
            width: 2em;
            height: 2em;
            align-items: center;
            justify-content: center;
            background: inherit;
        }
    }
}