// out: false
/* SplitButton */
.mceDefaultSkin {
    .mceSplitButton {
        position: relative;

        button {
            height: 32px;
            display: inline-block;
            text-align: center;
            line-height: 1;
            width: 32px;
        }

        .mceText {
            float: left;
        }

        .mceText,
        .mceOpen {
            display: inline-block;
            border: 1px solid #ddd;
        }

        .mceText {
            border-right: 0;
            border-radius: 2px 0 0 2px;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-overflow: ellipsis;
        }

        .mceAction {
            width: 20px;
            background-image: url(../../img/icons.png?@@etag@@);
        }

        img.mceAction {
            background: none;
        }

        .mceOpen {
            width: 16px;
            text-align: center;
            height: 32px;
            border-radius: 0 2px 2px 0;
            cursor: pointer;

            &:after {
                content: "\25BC";
                display: block;
                font-size: 9px;
                line-height: 32px;
                color: #444;
                text-align: center;
            }
        }

        &:hover,
        &:focus {
            .mceText,
            .mceOpen {
                border-color: #ccc;
                background-color: #fafafa;
            }
        }
    }

    .mceSplitButtonDisabled {
        .mceOpen:after {
            color: #888;
        }

        .mceAction {
            opacity: 0.3;
        }
    }

    .mceSplitButtonActive {
        .mceText {
            border-color: #ccc;
            background-color: #ddd;
        }

        .mceOpen {
            border-left: 0;
            border-color: #ccc;
            background-color: #ddd;
        }
    }

    .mceSplitButtonSelected {
        &::after {
            content: "";
            padding: 2px 0;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -3px;
            background: #fff;
            box-sizing: border-box;
            z-index: 700011;
            border: 1px solid #ccc;
            border-top: 0 none;
            border-bottom: 0 none;
        }

        .mceText,
        &:hover .mceText {
            background: #fff;
            border-color: #ccc;
            border-radius: 2px 0 0 0;
        }

        .mceOpen,
        &:hover .mceOpen {
            background: #fff;
            border-color: #ccc;
            border-left: 0 none;
            padding-left: 1px;
            border-radius: 0 2px 0 0;
        }
    }

    .mceMenuItemSub {
        box-shadow: inherit;
        border: 0;
        margin: 0;
    }

    .mceSplitButtonMenu .mceMenuItem {
        margin: 2px;
    }

    /* ColorSplitButton */
    .mceColorSplitMenu {
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        max-width: 203px;
        gap: 1px;
        padding: 2px;

        button {
            display: block;
            width: 24px;
            height: 24px;
            overflow: hidden;
            border: 1px solid #ddd;
            text-align: center;
            cursor: pointer;
            outline: none;

            &:hover,
            &:focus {
                border-color: #444;
                outline: none;
            }
        }

        .mceRemoveColor {
            color: #444;
            font-weight: bold;
        }

        .mceMoreColors {
            width: 100%;
            height: auto;
            text-align: center;
            line-height: 32px;
            background: #fff;
            cursor: pointer;

            &:hover {
                border: 1px solid #ccc;
                background-color: #fafafa;
            }
        }
    }

    .mceColorPreview {
        width: 20px;
        height: 4px;
        overflow: hidden;
        background: #fafafa;
    }

    .mce_forecolor .mceAction,
    .mce_backcolor .mceAction {
        overflow: hidden;
        height: 15px;
    }

    /* Table Grid SplitButton */
    .mceTableSplitMenu {
        table {
            padding: 2px;
        }

        td {
            background-color: #fff;
            text-align: center;

            a {
                width: 24px;
                height: 24px;
                display: block;
                border: 1px solid #ddd;
                padding: 0;
                margin: 1px;
            }
        }

        .selected a {
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        .mceTableGridCount {
            background-color: #fff;
            text-align: center;
            line-height: 32px;
        }
    }

    /*.mceSplitButtonSelected::after {
        content: "";
        padding: 4px 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -7px;
        background: #fff;
        box-sizing: border-box;
        z-index: 700011;
        border: 1px solid #ccc;
        border-top: 0 none;
        border-bottom: 0 none;
    }*/

    .mceColumns .mceTableSplitMenu {
        width: 120px;

        td a {
            width: 24px;
            height: 32px;
        }
    }
}

.mceSplitButtonMenu {
    min-width: calc(48px * 3);
    margin: 2px 0 0;
    max-height: 336px;
    overflow: visible;
    overflow-y: auto;
    max-width: 20em;
}

/*.mceSplitButtonMenu:before {
    content: "";
    padding: 1px;
    width: 46px;
    position: absolute;
    left: 0;
    background: #fff;
    box-sizing: border-box;
    z-index: 2;
    border: 0;
    border-top: 0 none;
    border-bottom: 0 none;
    top: -1px;
}*/

.mceSplitButtonMenu .mceMenuItems .mceSelected {
    background-color: #ddd;
}

/* Table Grid SplitButton */

.mceTableSplitMenu {
    background: #fff;
    border: 0 none;
    padding: 0;
    margin: 0;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: inherit;
}
