// out: false
.mceDefaultSkin {
    .mceStatusbar {
        .mceWordCount {
            font-size: 14px;

            .mceText {
                font-size: 14px;

                &:before {
                    content: attr(title);
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }
    }

    .mceWordCountLimit {
        font-weight: bold;
        color: #cc0000;
    }
}
