/** Path **/
.mcePathRow {
    overflow: hidden;
    width: 100%;
}

.mcePathHidden .mceText {
    display: none;
}

.mcePathPath .mceText {
    font-size: 12px;
    line-height: 14px;
    max-width: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.75;
    cursor: default;
}

.mcePathPath a .mceText {
    opacity: 1;
    cursor: pointer;
}

.mcePathPath a:not(:last-child):after {
    content: "\00bb";
    display: inline-block;
    text-decoration: none;
    margin: 0 0.25em;
}

.mcePathHidden:after {
    content: "...";
    display: inline-block;
}

.mcePathLabel {
    position: relative;
    display: inline-block;
    min-width: 32px;
    margin: 0 5px 0 0;
    font-size: 14px;
    user-select: none; 
}

.mcePathPath {
    display: inline-block;
}