// out: false

.file,
.file.default {
    background: url("@{images}/ext.png") no-repeat 0 0;
}

.file.txt {
    background: url("@{images}/ext.png") no-repeat 0 -20px;
}

.file.zip,
.file.tar,
.file.gz,
.file.rar {
    background: url("@{images}/ext.png") no-repeat 0 -40px;
}

.file.html,
.file.htm {
    background: url("@{images}/ext.png") no-repeat 0 -60px;
}

.file.mp3,
.file.wav,
.file.aiff,
.file.m4a,
.file.oga {
    background: url("@{images}/ext.png") no-repeat 0 -80px;
}

.file.php {
    background: url("@{images}/ext.png") no-repeat 0 -100px;
}

.file.sql {
    background: url("@{images}/ext.png") no-repeat 0 -120px;
}

.file.gif {
    background: url("@{images}/ext.png") no-repeat 0 -140px;
}

.file.jpg,
.file.jpeg {
    background: url("@{images}/ext.png") no-repeat 0 -160px;
}

.file.png,
.file.apng,
.file.webp {
    background: url("@{images}/ext.png") no-repeat 0 -180px;
}

.file.webm,
.file.ogg,
.file.ogv,
.file.mp4,
.file.mpeg,
.file.mpg,
.file.mkv,
.file.m4v,
/* Apple Quicktime */
.file.mov,
.file.qt,
/* RealPlayer */
.file.ra,
.file.rm,
.file.ram,
/* Adobe Shockwave */
.file.dcr,
/* Windows Media Player */
.file.wmv,
.file.wma,
.file.wm,
.file.wmx,
.file.wvx,
.file.asf,
.file.asx,
.file.avi {
    background: url("@{images}/ext.png") no-repeat 0 -200px;
}

.file.js,
.file.xml,
.file.xaml {
    background: url("@{images}/ext.png") no-repeat 0 -220px;
}

/* Microsoft Excel */
.file.xls,
.file.xlsx,
.file.xlsm {
    background: url("@{images}/ext.png") no-repeat 0 -320px;
}

/* Adobe® Acrobat */
.file.pdf {
    background: url("@{images}/ext.png") no-repeat 0 -360px;
}

/* Adobe Flash Player / Adobe Flash Video */
.file.swf,
.file.as,
.file.fla,
.file.flv,
.file.f4v,
.file.f4p,
.file.f4a,
.file.f4b {
    background: url("@{images}/ext.png") no-repeat 0 -340px;
}

/* Adobe® Acrobat */
.file.pdf {
    background: url("@{images}/ext.png") no-repeat 0 -360px;
}

/* Microsoft Powerpoint */
.file.ppt,
.file.pptx,
.file.pps,
.file.ppsx {
    background: url("@{images}/ext.png") no-repeat 0 -380px;
}

/* Microsoft Word */
.file.doc,
.file.docx,
.file.dot,
.file.dotx {
    background: url("@{images}/ext.png") no-repeat 0 -400px;
}

.file.css {
    background: url("@{images}/ext.png") no-repeat 0 -420px;
}

.file.rtf {
    background: url("@{images}/ext.png") no-repeat 0 -300px;
}

.file.notwritable,
dd.file.notwritable,
.file.duplicate {
    background: url("@{images}/icons.png") no-repeat 0 -620px;
}

.file.notsafe,
dd.file.notsafe {
    background: url("@{images}/icons.png") no-repeat 0 -640px;
}
