// out: ../popup.min.css, sourcemap: false, compress: true
body {
    margin: 0;
    padding: 0;
}

#wf_popup_image {
    margin: 0;
    padding: 0;
    display: block;

    div {
        margin: 0;
        padding: 0;
        float: left;

        &.contentheading {
            width: 95%;
        }

        &.buttonheading {
            float: right;
        }

        img {
            margin: 0;
            padding: 0;
            cursor: pointer;
            border: 0;
            vertical-align: middle;
        }
    }
}