html,
body {
    overflow: initial !important;
}

html {
    height: 100%;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: #fff;
    margin: initial;
}

body {
    font-family: inherit;
    font-size: 1rem;
    background: inherit;
    color: inherit;
    margin: initial;
}

.mceContentBody {
    height: 100%;
    height: calc(100% - 10px);
    min-width: 90%;
    padding: 5px;
}

body.mceContentReset {
    background: #FFFFFF none !important;
    color: #000000 !important;
}

/* https://www.w3.org/TR/html5/rendering.html#phrasing-content-0 */

body.mceContentReset a,
body.mceContentReset a:link {
    color: #0000EE;
}

body.mceContentReset a:visited {
    color: #551A8B;
}

body.mceContentReset a:active {
    color: #EE0000;
}

body[dir="ltr"].mceContentReset {
    text-align: left !important;
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.17em
}

h4 {
    font-size: 1em
}

h5 {
    font-size: .83em
}

h6 {
    font-size: .75em
}

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption,
.mce-item-visualaid {
    border: 1px dashed #BBB;
    border-collapse: separate;
    border-spacing: 1px;
}

span.mce-item-nbsp,
span.mce-item-shy {
    font-family: inherit;
    font-size: inherit;
    background: #ddd url('img/middot.gif') repeat-x center;
}

td.mceSelected,
th.mceSelected,
td[data-mce-selected],
tr[data-mce-selected] {
    background-color: #3399ff !important
}

img {
    border: 0;
}

table,
img,
hr,
.mce-item-anchor {
    cursor: default
}

table td,
table th {
    cursor: text
}

ins {
    border-bottom: 1px solid green;
    text-decoration: none;
    color: green
}

del {
    color: red;
    text-decoration: line-through
}

cite {
    border-bottom: 1px dashed blue
}

acronym {
    border-bottom: 1px dotted #CCC;
    cursor: help
}

abbr {
    border-bottom: 1px dashed #CCC;
    cursor: help
}

img:-moz-broken {
    -moz-force-broken-image-icon: 1;
    width: 24px;
    height: 24px
}

font[face=mceinline] {
    font-family: inherit !important
}

*[contentEditable]:focus {
    outline: 0
}

img::selection {
    background: #b4d4ff !important;
}

/** bookmark **/

span[data-mce-type="bookmark"] {
    font-size: 0;
}

pre.mcePreformatted {
    margin: 0;
    padding: 0;
}

[_moz_editor_bogus_node] {
    display: none;
}

.mce-match-marker {
    background: #aaa;
    color: #fff
}

.mce-match-marker-selected {
    background: #39f;
    color: #fff
}

.mce-resizehandle-ne {
    cursor: ne-resize;
}

.mce-resizehandlese {
    cursor: se-resize;
}

.mce-resizehandle-nw {
    cursor: nw-resize;
}

.mce-resizehandle-sw {
    cursor: sw-resize;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

figcaption:empty::after {
    content: "...";
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #888;
    pointer-events: none;
}

figcaption:empty[data-mce-empty]::after {
    content: attr(data-mce-empty);
}