html,
body {
  overflow: initial !important;
}
html[dir] {
  height: inherit;
}
html {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #fff;
  margin: inherit;
  caret-color: auto;
  /*caret-color: var(--mce-guidelines);*/
}
body {
  font-family: inherit;
  font-size: 1rem;
  background: inherit;
  color: inherit;
  margin: inherit;
}
.mceContentBody {
  height: inherit;
  min-height: calc(100vh - 10px);
  min-width: 90%;
  padding: 5px;
  /* Force img tags to display inline to override template element styles */
}
.mceContentBody img {
  display: inline;
}
.mceContentBody img[data-mce-selected]:not([data-mce-type]),
.mceContentBody table[data-mce-selected] {
  outline: 3px solid #1e88e5;
  outline: 3px solid var(--mce-control-selection);
}
.mceContentBody .mceSelected,
.mceContentBody td[data-mce-selected],
.mceContentBody tr[data-mce-selected] {
  background: #b4d7ff;
  background: var(--mce-control-selection-bg);
}
.mceContentBody .mce-resizehandle {
  position: absolute;
  box-sizing: border-box;
  background-color: #1e88e5;
  background-color: var(--mce-control-selection);
  width: 10px;
  height: 10px;
  z-index: 10000;
  padding: 0;
  margin: -1px;
}
.mceContentBody .mce-resizehandle-ne {
  cursor: ne-resize;
  margin: -1px 1px;
}
.mceContentBody .mce-resizehandle-se {
  cursor: se-resize;
  margin: 1px;
}
.mceContentBody .mce-resizehandle-nw {
  cursor: nw-resize;
}
.mceContentBody .mce-resizehandle-sw {
  cursor: sw-resize;
  margin: 1px -1px;
}
.mceContentBody .mce-clonedresizable {
  position: absolute;
  outline: 1px dashed #000;
  opacity: 0.5;
  z-index: 10000;
}
.mceContentBody .mce-resize-helper {
  background: #555;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  border: 1px;
  color: white;
  display: none;
  font-family: sans-serif;
  font-size: 12px;
  white-space: nowrap;
  line-height: 14px;
  margin: 5px 10px;
  padding: 5px;
  position: absolute;
  z-index: 10001;
}
.mceContentBody img::selection {
  background-color: #b4d4ff;
}
.mceContentBody .mce-visual-caret {
  position: absolute;
  background-color: black;
  background-color: currentcolor;
}
.mceContentBody .mce-visual-caret-hidden {
  display: none;
}
.mceContentBody *[data-mce-caret] {
  position: absolute;
  left: -1000px;
  right: auto;
  top: 0;
  margin: 0;
  padding: 0;
}
.mceContentBody .mce-offscreen-selection {
  position: absolute;
  left: -9999999999px;
  max-width: 1000000px;
}
.mceContentBody *[contentEditable=false]:not([data-mce-object]) {
  cursor: default;
}
.mceContentBody *[contentEditable=true] {
  cursor: text;
}
.mceContentBody *[contentEditable="false"][data-mce-selected] {
  outline: 2px solid #2d8ac7;
  outline: 2px solid var(--mce-control-selection);
}
body.mceContentReset {
  background: #fff none !important;
  color: #000 !important;
  /* https://www.w3.org/TR/html5/rendering.html#phrasing-content-0 */
}
body.mceContentReset a,
body.mceContentReset a:link {
  color: #0000EE;
}
body.mceContentReset a:visited {
  color: #551A8B;
}
body.mceContentReset a:active {
  color: #EE0000;
}
body.mceContentReset p,
body.mceContentReset td,
body.mceContentReset th,
body.mceContentReset h1,
body.mceContentReset h2,
body.mceContentReset h3,
body.mceContentReset h4,
body.mceContentReset h5,
body.mceContentReset h6 {
  color: #000;
}
body[dir="ltr"].mceContentReset {
  text-align: left !important;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}
.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption,
.mce-item-visualaid {
  border: 1px dashed #757575;
  /* #1976d2 */
  border-color: var(--mce-guidelines);
  border-collapse: separate;
  border-spacing: 1px;
}
span.mce-item-nbsp,
span.mce-item-shy {
  min-width: 0.25em;
  height: 1em;
}
span.mce-item-nbsp:after,
span.mce-item-shy:after {
  content: "●";
  line-height: 1;
  color: var(--mce-guidelines);
}
span.mce-item-shy:after {
  content: "▪︎";
  font-weight: bolder;
}
img {
  border: 0;
}
table,
img,
hr,
.mce-item-anchor {
  cursor: default;
}
table td,
table th {
  cursor: text;
}
ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}
del {
  color: red;
  text-decoration: line-through;
}
cite {
  border-bottom: 1px dashed blue;
}
acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}
img:-moz-broken {
  -moz-force-broken-image-icon: 1;
  width: 24px;
  height: 24px;
}
font[face=mceinline] {
  font-family: inherit !important;
}
*[contentEditable]:focus {
  outline: 0;
}
/** bookmark **/
span[data-mce-type="bookmark"] {
  font-size: 0;
}
pre.mcePreformatted {
  margin: 0;
  padding: 0;
}
[_moz_editor_bogus_node] {
  display: none;
}
.mce-match-marker {
  background: #aaa;
  color: #fff;
}
.mce-match-marker-selected {
  background: #1e88e5;
  background: var(--mce-control-selection);
  color: #fff;
}
figure {
  display: table;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}
figcaption {
  line-height: 2rem;
}
figcaption:empty::after {
  content: "...";
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #757575;
  color: var(--mce-guidelines);
  pointer-events: none;
}
figcaption:empty[data-mce-empty]::after {
  content: attr(data-mce-empty);
}
.mceNonEditable {
  cursor: not-allowed;
  position: relative;
  padding: 0.25rem;
}
.mceEditable {
  cursor: initial;
}
[data-mce-selected="inline-boundary"] {
  background-color: #b4d7ff;
}
