@import url('ui.css?@@etag@@');

.defaultSkin .mceToolbar {
	border: 0 none;
}

.defaultSkin .mceLayout,
.defaultSkin .mceLayout .mceToolbar {
	border: 0 none !important;
	background: #fff;
}

.defaultSkin .mceToolbarItem div {
	display: inline-block;
}

.defaultSkin .mceLayout .mceStatusbar {
	border: 1px solid #ddd;
	border-top-width: 0;
}

.defaultSkin .mceLayout .mceIframeContainer {
	background: #fff;
	width: 100%;
	position: relative;
	padding: 5px;
	box-sizing: border-box;
	white-space: pre-line;
	border: 1px solid #ddd;
	margin: 0;
}

.mceToolbarRow .mceToolbarItem {
	font-size: 0;
	vertical-align: top;
	line-height: 1;
}

.mceToolbarRow .mceToolbarItem .mceButton,
.mceToolbarRow .mceToolbarItem .mceButton .mceIcon {
	cursor: move;
}

.defaultSkin .mceLayout .mceToolbarRow {
	font-size: 0;
	line-height: 1;
	height: auto;
	min-height: 28px;
	position: relative;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 1px;
	margin-bottom: 2px;

	cursor: move;
}

.mceEditor .mceToolbarItem .mceListBox,
.mceEditor .mceToolbarItem .mceSplitButton {
	width: 100%;
	padding: 0;
	position: relative;
	display: inline-block;
}

.mceEditor .mceToolbarItem .mceListBox .mceIcon {
	display: none;
}

.mceEditor .mceToolbarItem .mceSplitButton .mceIcon {
	display: inline-block;
	margin: 3px 2px;
}

.mceEditor .mceToolbarItem .mceSplitButton {
	width: 44px;
	height: 32px;
	text-align: left;
}

.mceEditor .mceToolbarItem .mceListBox:before {
	content: attr(title);
	display: inline-block;
	width: 75px;
	background: #fff;
	font-size: 13px;
	line-height: 28px;
	padding: 1px 3px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.mceEditor .mceToolbarItem .mceListBox:after,
.mceEditor .mceToolbarItem .mceSplitButton:after {
	content: "\25bc";
	display: inline-block;
	font-size: 9px;
	line-height: 30px;
	color: #444;
	width: 18px;
	text-align: center;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
	background: #f5f5f5;
	vertical-align: top;
}

.defaultSkin .mceStatusbar {
	line-height: 1;
}