.defaultSkin .mceToolBar {border: 0 none;}

.defaultSkin .mceLayout, .defaultSkin .mceLayout .mceToolbar {
    border: 0 none !important;
		background: #fff;
}

.defaultSkin .mceToolBarItem div {
	display: inline-block;
}

.defaultSkin .mceToolBarItem .mceListBox, .defaultSkin .mceToolBarItem .mceSplitButton {
	border: 1px solid #ddd;
	height: 26px;
	box-sizing: border-box;
	border-radius: 2px;
	position: relative;

	cursor: move;
}

.defaultSkin .mceToolBarItem .mceListBox {
	width: 94px;
}

.defaultSkin .mceToolBarItem .mceSplitButton {
	width: 42px;
	padding: 2px;
}

.defaultSkin .mceToolBarItem .mceListBox .mceIcon {
	width: 76px;
	height: auto;
}

.defaultSkin .mceToolBarItem .mceListBox .mceIcon:before {
	display: inline-block;
	background: #fff;
	font-size: 12px;
	width: 76px;
	line-height: 24px;
	padding: 0 3px;
	box-sizing: border-box;
}

.defaultSkin .mceToolBarItem .mceListBox .mce_fontselect:before {
    content: "Font Family";
}
.defaultSkin .mceToolBarItem .mceListBox .mce_styleselect:before {
    content: "Styles";
}
.defaultSkin .mceToolBarItem .mceListBox .mce_fontsizeselect:before {
    content: "Font Size";
}
.defaultSkin .mceToolBarItem .mceListBox .mce_formatselect:before {
    content: "Format";
}

.defaultSkin .mceToolBarItem .mceListBox:after, .defaultSkin .mceToolBarItem .mceSplitButton:after {
	content: "▼";
	display: block;
	font-size: 9px;
	line-height: 24px;
	color: #444;
	width: 17px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
}

.defaultSkin .mceLayout .mceStatusbar {
	border: 1px solid #ddd;
	border-top-width: 0;
}

.defaultSkin .mceLayout .mceIframeContainer {
	background: #fff;
	width: 100%;
	position: relative;
	padding: 5px;
	box-sizing: border-box;
	white-space: pre-line;
	border: 1px solid #ddd;
	margin: 0;
}

.mceToolbarRow .mceToolBarItem {
	font-size: 0;
	vertical-align: top;
	line-height: 1;
}

.mceToolbarRow .mceToolBarItem .mceButton, .mceToolbarRow .mceToolBarItem .mceButton .mceIcon {
	cursor: move;
}

.defaultSkin .mceLayout .mceToolbarRow {
    font-size: 0;
    line-height: 1;
    height: auto;
    min-height: 28px;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
		padding: 1px;
		margin-bottom: 2px;
}

.defaultSkin .mceSplitButton + .mceSplitButton {margin-left: 1px;}
