/* https://www.google.com/design/spec/style/color.html#color-color-palette */

@import url('ui.css');
/*@import url('fonts.css');*/

.mceDefaultSkinTouch .mceToolbar {
  background-color: #f5f5f5;
}

.mceDefaultSkinTouch .mceLayout div:first-child,
.mceDefaultSkinTouch .mceLayout div:last-child {
  background-color: #f5f5f5;
  border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceIframeContainer {
  border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceToolbar .mceButton {
  padding: 9px;
  border-color: #dcdcdc;
  background-color: #fafafa;
}

.mceDefaultSkinTouch .mceToolbar .mceListBox .mceText {
  line-height: 40px;
  height: 40px;
  border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceToolbar .mceListBox .mceOpen {
  height: 40px;
  border-color: #dcdcdc;
  width: 18px;

  background-color: #fafafa;
}

.mceDefaultSkinTouch .mceToolbar .mceSplitButton .mceOpen {
  height: 40px;
  border-color: #dcdcdc;
  width: 18px;
  background-color: #fafafa;
}

.mceDefaultSkinTouch .mceToolbar .mceSplitButton .mceText {
  border-color: #dcdcdc;
  width: 40px;
  height: 40px;
  background-color: #fafafa;
}

.mceDefaultSkinTouch .mceToolbar .mceListBox .mceOpen::after,
.mceDefaultSkinTouch .mceToolbar .mceSplitButton .mceOpen::after {
  line-height: 40px;
}

.mceDefaultSkinTouch .mceToolbar .mceButtonEnabled:hover,
.mceDefaultSkinTouch .mceToolbar .mceButtonActive,
.mceDefaultSkinTouch .mceToolbar .mceButtonSelected {
  background-color: #E1F5FE;
  border-color: #81D4FA;
}

.mceDefaultSkinTouch .mceToolbar .mceColorSplitMenu .mceMoreColors:hover {
  border-color: #81D4FA;
  background-color: #E1F5FE;
}

.mceDefaultSkinTouch .mceToolbar .mceMenu .mceMenuItemEnabled button:hover,
.mceDefaultSkinTouch .mceToolbar .mceMenu .mceMenuItemActive {
  background-color: #E1F5FE;
}

.mceDefaultSkinTouch .mceToolbar .mceTableSplitMenu {
  width: 135px;
}

.mceDefaultSkinTouch .mceToolbar .mceTableSplitMenu table {
  padding: 2px;
}

.mceDefaultSkinTouch .mceToolbar .mceTableSplitMenu td {
  border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceToolbar .mceTableSplitMenu .selected {
  background-color: #E1F5FE;
  border-color: #81D4FA;
}

.mceDefaultSkinTouch .mceToolbar .mceSeparator {
  height: 40px;
  background: #dcdcdc;
}

.mceDefaultSkinTouch .mceSplitButtonDisabled .mceOpen:after {
  color: #dcdcdc;
}

.mceDefaultSkinTouch .mceToolbar .mceTextBox {
  height: 40px;
}