@import url('fonts.css?@@etag@@');
.mceModernSkin .mceToolbar {
  background: #fafafa;
}
.mceModernSkin .mceToolbar.mceDisabled {
  background: rgba(255, 255, 255, 0.5);
}
.mceModernSkin .mceToolbarRow .mceToolbarItem {
  background-color: transparent;
  margin: 2px;
}
.mceModernSkin .mceToolbarRow .mceToolbarItem .mceTextBox {
  max-width: inherit;
}
.mceModernSkin .mceToolbarRow .mceToolbarItem textarea {
  height: auto;
  white-space: pre-wrap;
  font-size: 13px;
  line-height: 2;
}
.mceModernSkin .mceMenu .mceToolbarRow .mceToolbarItem {
  width: 100%;
}
.mceModernSkin .mceToolbarFooter .mceToolbarItem {
  text-align: right;
}
.mceModernSkin .mceToolbarFooter .mceToolbarItem .mceButton {
  min-width: 5em;
  height: 32px;
  line-height: 1;
  background: #fff;
  border-radius: 2px;
  color: #444;
  border: 1px solid #ddd;
  margin: 0 0 0 4px;
  padding: 0 8px;
}
.mceModernSkin .mceToolbarFooter .mceToolbarItem .mceButtonPrimary {
  background-color: #337ab7;
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #fff;
}
.mceModernSkin .mceButton,
.mceModernSkin .mceSplitButton .mceText,
.mceModernSkin .mceSplitButton .mceOpen,
.mceModernSkin .mceListBox .mceText,
.mceModernSkin .mceListBox .mceOpen {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}
.mceModernSkin .mceButton .mceIcon,
.mceModernSkin .mceMenuItem .mceIcon,
.mceModernSkin .mceSplitButton .mceAction {
  color: rgba(0, 0, 0, 0.87);
  height: 1em;
  line-height: 1;
  text-align: center;
  min-width: 1em;
  max-width: inherit;
  background: none;
}
.mceModernSkin .mceButtonPrimary {
  color: #fff;
}
.mceModernSkin button:disabled {
  cursor: not-allowed;
}
.mceModernSkin button:disabled .mceIcon {
  opacity: 0.38;
}
.mceModernSkin .mceButton:hover,
.mceModernSkin .mceButton:focus {
  border: 1px solid #ddd;
  background-color: #e6e6e6;
}
.mceModernSkin .mceButtonPrimary:hover,
.mceModernSkin .mceButtonPrimary:focus {
  background-color: #286090;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.21);
}
.mceModernSkin .mceSplitButton:hover .mceText,
.mceModernSkin .mceSplitButton:hover .mceOpen,
.mceModernSkin .mceSplitButton:focus .mceText,
.mceModernSkin .mceSplitButton:focus .mceOpen,
.mceModernSkin .mceSplitButtonActive .mceText,
.mceModernSkin .mceSplitButtonActive .mceOpen {
  border-color: #ccc;
  background-color: #e6e6e6;
}
.mceModernSkin .mceSplitButtonActive .mceOpen {
  border-left: 1px solid #ccc;
}
.mceModernSkin .mceListBox .mceText {
  border-top-color: #ddd;
  border-bottom-color: #ddd;
  border-left-color: #ddd;
}
.mceModernSkin .mceListBox .mceText::placeholder {
  color: #ddd;
  font-size: inherit;
}
.mceModernSkin .mceListBox .mceOpen {
  background-color: transparent;
  border-top-color: #ddd;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
}
.mceModernSkin .mceListBox .mceOpen:after {
  color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.mceModernSkin .mceButtonActive,
.mceModernSkin .mceButtonSelected,
.mceModernSkin .mcePanelButtonActive {
  background-color: #e6e6e6;
  border-color: #ddd;
}
.mceModernSkin .mceButtonDialog::before {
  top: -6px;
}
.mceModernSkin .mceColorPreview {
  outline: 1px solid #e6e6e6;
}
.mceModernSkin .mceListBox .mceMenuItems .mceIcon {
  top: 0;
  width: 32px;
  left: 0;
  height: 32px;
  line-height: 2;
}
.mceModernSkin .mceSplitButtonMenu {
  position: relative;
}
.mceModernSkin .mcePanelButtonSelected,
.mceModernSkin .mcePanelButtonSelected:hover {
  border-color: #ddd;
  background: #fff;
}
.mceModernSkin .mcePanelButtonSelected .mceText,
.mceModernSkin .mcePanelButtonSelected:hover .mceText {
  background: #fff;
  border-color: #ddd;
  border-right-color: transparent;
  border-radius: 2px 0 0 0;
}
.mceModernSkin .mcePanelButtonSelected .mceOpen,
.mceModernSkin .mcePanelButtonSelected:hover .mceOpen {
  background: #fff;
  border-color: #ddd;
  border-left-color: transparent;
  border-radius: 0 2px 0 0;
}
.mceModernSkin .mceSplitButtonSelected .mceText,
.mceModernSkin .mceSplitButtonSelected:hover .mceText {
  background: #fff;
  border-color: #ccc;
  border-radius: 2px 0 0 0;
}
.mceModernSkin .mceSplitButtonSelected .mceOpen,
.mceModernSkin .mceSplitButtonSelected:hover .mceOpen {
  background: #fff;
  border-color: #ccc;
  border-left-color: transparent;
  border-radius: 0 2px 0 0;
}
.mceModernSkin .mceColorSplitMenu {
  padding: 2px;
  background: #fff;
}
.mceModernSkin .mcePanel::before {
  background-color: #fff;
}
.mceModernSkin .mceListBoxMenu {
  overflow: hidden;
}
.mceModernSkin .mceListBox:hover .mceText,
.mceModernSkin .mceListBoxSelected .mceText,
.mceModernSkin .mceListBoxSelected:hover .mceText {
  background: #fff;
  border-color: #ccc;
  border-radius: 2px 0 0 0;
}
.mceModernSkin .mceListBox:hover .mceOpen,
.mceModernSkin .mceListBoxSelected .mceOpen,
.mceModernSkin .mceDefaultSkin .mceListBoxSelected:hover .mceOpen {
  background: #fff;
  border-color: #ccc;
  border-left-color: transparent;
  border-radius: 0 2px 0 0;
}
.mceModernSkin .mceStatusbar .mceResize span {
  color: rgba(0, 0, 0, 0.87);
  text-align: right;
  display: inline-block;
  background: none;
  width: 1em;
  height: 1em;
}
.mceModernSkin .mceModalContent .mceButtonUpload .mceIcon {
  font-size: 0.75em;
  line-height: 2.25;
  height: 100%;
  margin: auto;
}
