@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.ie8 .uk-icon {
    font-family: FontAwesome;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

.ie8 .actionPanel .uk-button {
  margin: 0 5px;
}
.ie8.uk-form-horizontal .uk-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  float: left;
}
.ie8.uk-form-horizontal .uk-form-controls {
  float: left;
}
input.type-number {
  padding: 4px 6px;
  line-height: 22px;
}
.ie8 .uk-icon-clock-o {
  background: url('../img/icons.png') no-repeat 0 -1020px;
  width: 20px;
  margin: -10px 5px;
}
.ie8 .uk-icon-clock-o:before {
  content: "";
}
.ie8 #browser-list-actions .uk-flex-item-auto {
  width: 69%;
}
.ie8 .uk-tree-hidden #browser-list-actions .uk-flex-item-auto {
  width: 39%
}

.ie8 .uk-form-horizontal .uk-datalist input[type="text"] {
    width: 92%;
    border-right-width: inherit;
    padding-top: 3px;
    padding-bottom: 3px;
}
.ie8 .uk-button {
  border: 1px solid #ccc;
  margin-left: 5px;
}
.ie8 .uk-modal-footer .uk-button {
  background-color: #fff;
}
.ie8 .uk-modal-footer .uk-button-primary {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
}
.ie8 .uk-modal-footer .uk-button-danger {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}
