/*@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-family: -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}

.uk-form-horizontal .uk-form-label {
    font-weight: inherit;
    line-height: 32px;
    display: inline-block;
    margin: 0;
}

.uk-form-horizontal .uk-grid {
    align-items: center;
}

.uk-form-horizontal .uk-grid > .uk-form-label {
    line-height: 1.25;
}

.uk-form {
    height: 100%;
    position: relative;
}

.uk-grid-small>div {
    padding-left: 10px;
}

.uk-grid-mini {
    margin-left: -10px;
}

.uk-grid-mini>* {
    padding-left: 5px;
}

.uk-grid-mini>div {
    padding-left: 5px;
}

[class*="uk-icon-"] {
    font-size: 16px;
}

.uk-icon-medium {
    font-size: 1.75em;
}

.uk-icon-large {
    font-size: 2em;
}

.uk-icon-small {
    font-size: 1.5em;
}

.uk-close {
    font-size: 14px;
    width: 2em;
    height: 2em;
}

.uk-placeholder-small {
    padding: 5px;
}


/* button */

.uk-button,
.uk-button-primary,
.uk-button-success,
.uk-button-danger {
    text-shadow: inherit;
    box-shadow: inherit;
    line-height: inherit;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.uk-button:active,
.uk-button.uk-active {
    background-color: #ddd;
}

.uk-navbar .uk-button {
    border-radius: 0;
}

.uk-modal-footer .uk-button:not(.uk-button-primary):not(.uk-button-danger):not(.uk-button-success) {
    background-color: #fff;
    border-color: #ddd;
}

.uk-modal-footer .uk-button:not(.uk-button-primary):not(.uk-button-danger):not(.uk-button-success):focus,
.uk-modal-footer .uk-button:not(.uk-button-primary):not(.uk-button-danger):not(.uk-button-success):hover {
    color: #444;
    border-color: #888;
}

.uk-button-text,
.uk-button .uk-text {
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    line-height: 2;
    min-width: 3em;
}


/* modal */

.uk-modal {
    padding: 10px;
    background: none;
}

.uk-modal-dialog {
    padding: 10px;
    margin: 0 auto;
    top: 50%;
    max-height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.uk-modal-dialog-full {
    width: 100%;
}

.uk-modal-prompt,
.uk-modal-confirm {
    width: 350px;
}


/*.uk-modal-preview {
    margin-top: 20px;
}
.uk-modal-upload {
    margin-top: 20px;
}*/

.uk-modal-preview {
    min-height: 120px;
    min-width: 320px;
    max-width: 640px;
}

.uk-modal-preview .uk-modal-body {
    width: auto;
    height: auto;
    margin: auto;
}

.uk-modal-preview .uk-modal-body {
    overflow: hidden;
}

.uk-modal-preview .uk-modal-body .media-preview,
.uk-modal-preview .uk-modal-body .iframe-preview {
    padding-bottom: calc(56.25% - 83px);
    width: 100%;
    height: 0;
    position: relative;
}

.uk-modal-preview .uk-modal-body .media-preview-audio {
    padding-bottom: 50px;
}

.uk-modal-preview .uk-modal-body object,
.uk-modal-preview .uk-modal-body embed,
.uk-modal-preview .uk-modal-body video,
.uk-modal-preview .uk-modal-body iframe {
    border: 0 none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uk-modal-preview .uk-modal-body .image-preview {
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.uk-modal-preview .uk-modal-body .image-preview:empty {
    width: 400px;
    height: 400px;
}

.uk-modal-preview .uk-modal-body img,
.uk-modal-preview .uk-modal-body audio {
    text-align: center;
    width: 100%;
    height: auto;
}

.uk-modal-dialog>.uk-close:first-child {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}

.uk-modal-header {
    padding: 10px;
    margin: -10px -10px 0;
    background: #fff;
    /*border-bottom: 1px solid #ddd;*/
    border-bottom: 1px solid #fff;
    border-radius: 4px 4px 0 0;
}

.uk-modal-body {
    padding: 30px 0 20px 0;
}

.uk-modal-header+.uk-modal-body {
    padding: 10px 0 0 0;
}

.uk-modal-dialog .uk-modal-close {
    opacity: 1;
}

.uk-modal-dialog .uk-close:hover,
.uk-modal-dialog .uk-close:focus {
    color: #444;
    background: #e5e5e5;
    border-radius: 2px;
}

.uk-modal-header h3 {
    font-weight: bold;
    font-size: 1.25rem;
}

.uk-modal-footer {
    padding: 8px;
    margin: 8px -8px -8px -8px;
    /*border-top: 1px solid #ddd;*/
    border-top: 1px solid #fff;
    border-radius: 0 0 4px 4px;
    /*background: #f5f5f5;*/
    background: #fff;
}

.uk-modal-alert .uk-modal-dialog,
.uk-modal-confirm .uk-modal-dialog,
.uk-modal-prompt .uk-modal-dialog {
    width: 360px;
}

.uk-modal-alert,
.uk-modal-confirm,
.uk-modal-prompt {
    display: flex;
    flex-direction: column;
}

.uk-modal-alert .uk-modal-body,
.uk-modal-confirm .uk-modal-body,
.uk-modal-prompt .uk-modal-body {
    flex: 1;
    min-height: 2rem;
}

.uk-accordion-title {
    margin-bottom: 5px;
}

.uk-accordion-content {
    padding: 0 5px;
}

.uk-form input[type="text"],
.uk-form select,
.uk-form textarea {
    padding: 2px;
}

.uk-form input[type="checkbox"] {
    margin: 2px 4px 0 0;
}

.uk-form legend {
    padding-bottom: 5px;
    font-size: 14px;
}

.uk-form input[type="radio"],
.uk-form input[type="checkbox"] {
    vertical-align: middle;
}

.uk-switcher {
    overflow: auto;
    padding: 10px;
}

.uk-switcher>* {
    display: none;
}

.uk-switcher>.uk-active {
    display: block;
}

.uk-comment-header {
    border: 0 none;
    border-radius: 0;
    background: transparent none;
    margin: 0;
    padding: 0 0 10px 0;
}

.uk-comment-meta {
    color: #444;
    font-size: 13px;
    margin: 0;
    line-height: 20px;
}


/*.uk-form-horizontal .uk-form-controls input[type="checkbox"] {
    margin: 9px 0 ;
}

.uk-form-horizontal .uk-form-controls input[type="checkbox"] + label {
    margin: 6px 0;
}*/


/*.uk-form-horizontal .uk-form-controls {
    float: left;
    width: 78%;
}

:root .uk-form-horizontal .uk-form-controls {
    width: calc(80% - 5px);
}
*/

.uk-form-horizontal .uk-form-controls input[type="text"],
.uk-form-horizontal .uk-form-controls input[type="number"],
.uk-form-horizontal .uk-form-controls select,
.uk-form-horizontal .uk-form-controls textarea {
    width: 100%;
}

.uk-form-horizontal .uk-form-controls input[type="text"],
.uk-form-horizontal .uk-form-controls input[type="number"],
.uk-form-horizontal .uk-form-controls select {
    line-height: 32px;
    height: 32px;
}

.uk-form-horizontal .uk-form-controls select {
    line-height: 1;
}

.uk-form-horizontal .uk-form-controls input[type="range"] {
    height: 32px;
}


/* Better vertical alignment if controls are checkboxes and radio buttons with text */

.uk-form-horizontal .uk-form-controls-text {
    padding-top: 0;
}

.uk-grid+.uk-grid,
.uk-form-row+.uk-form-row,
.uk-grid+.uk-form-row,
.uk-form-row+.uk-grid {
    margin-top: 0.5em;
}

.uk-form-icon-both>input {
    padding: 0 2em !important;
}

.uk-form-icon>[class*="uk-icon-"] {
    width: 2em;
    font-size: 16px;
    line-height: 2em;
    margin: 0;
    top: 0;
}

.uk-form-icon-flip>[class*="uk-icon-"],
.uk-form-icon-both>[class*="uk-icon-"]:last-child {
    display: block;
    cursor: pointer;
    pointer-events: inherit;
    right: 0;
    padding: 0;
    margin-top: 0;
    width: 2em;
    height: 2em;
    top: 0;
    line-height: 2em;
}

.uk-form-icon-both>[class*="uk-icon-"]:first-child {
    left: inherit;
    right: inherit;
}


/*.uk-form-icon-flip > .uk-icon, .uk-form-icon-both > .uk-icon {
  width: 20px;
  right: 5px;
}
.uk-form-icon-both + .uk-icon {
  left: 5px;
}*/

.uk-form-icon-flip .uk-icon+.uk-icon {
    right: 30px;
}

.uk-form-icon-flip .uk-icon+.uk-icon+.uk-icon {
    right: 60px;
}

.uk-form-icon-flip>input {
    padding-right: 26px !important;
}

.uk-form-icon-flip>[class*="uk-icon-colorpicker"],
.uk-form-icon-both>[class*="uk-icon-colorpicker"]:last-child {
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    top: 0.25em;
    border-radius: 2px;
    right: 0.25em;
    box-sizing: border-box;
}

html[dir="rtl"] .uk-form-icon-flip>[class*="uk-icon-colorpicker"],
html[dir="rtl"] .uk-form-icon-both>[class*="uk-icon-colorpicker"]:last-child {
    left: 1em;
    right: inherit;
}

.uk-form-icon>[class*="uk-icon-hashtag"] {
    width: 1.5em;
    height: 2em;
    top: 0;
    margin: 0;
}

.uk-dropdown {
    z-index: 1010;
}

.uk-pagination>li>a,
.uk-pagination>li>span {
    min-width: 1em;
}

.uk-invisible {
    visibility: hidden !important;
}

input[type="range"] {
    -webkit-appearance: none;
    max-width: 100%;
    border-radius: 0;
    border: 0 none;
    margin: 0;
    padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 10px;
    height: 10px;
    border-radius: 0;
    cursor: pointer;
    margin-top: -1px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border-radius: 0;
    height: 10px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

input[type="range"]::-moz-range-track {
    border-radius: 0;
    height: 10px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

input[type="range"]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 10px;
    height: 10px;
    border-radius: 0;
    cursor: pointer;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-track {
    border-radius: 0;
    height: 10px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    color: transparent;
}

input[type="range"]::-ms-thumb {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 10px;
    height: 10px;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
}

.uk-grid>.uk-width-1-4 {
    padding-left: 10px;
}

.uk-width-0-2,
.uk-width-0-3,
.uk-width-0-4,
.uk-width-0-5,
.uk-width-0-6,
.uk-width-0-10 {
    width: auto;
}

/*@media (min-width: 480px) {
    .uk-visible-mini {
        display: none !important;
    }
}*/


/* fix layout in upload dialog */

@media (min-width: 960px) {

    /* IE 11 */
    .uk-form-horizontal .uk-form-controls {
        margin-left: auto;
    }

    .uk-form-horizontal .uk-form-label {
        width: auto;
    }

    .uk-form-horizontal .uk-form-controls {
        margin-left: initial;
    }

    .uk-form-horizontal .uk-form-label {
        width: initial;
    }

    .uk-form-horizontal .uk-width-1-10 {
        width: 10%;
    }

    .uk-form-horizontal .uk-width-2-10,
    .uk-form-horizontal .uk-width-1-5 {
        width: 20%;
    }

    .uk-form-horizontal .uk-width-3-10 {
        width: 30%;
    }

    .uk-form-horizontal .uk-width-4-10,
    .uk-form-horizontal .uk-width-2-5 {
        width: 40%;
    }
}

@media (min-width: 414px) {

    .uk-form-horizontal .uk-form-label,
    .uk-form-horizontal .uk-form-controls,
    .uk-form-row [class*="uk-width"] {
        float: left;
    }

    .uk-form-horizontal .uk-width-small-1-10 {
        width: 10%;
    }

    .uk-form-horizontal .uk-width-small-2-10,
    .uk-form-horizontal .uk-width-small-1-5 {
        width: 20%;
    }

    .uk-form-horizontal .uk-width-small-3-10 {
        width: 30%;
    }

    .uk-form-horizontal .uk-width-small-4-10,
    .uk-form-horizontal .uk-width-small-2-5 {
        width: 40%;
    }
}

/* Phone portrait and smaller (based on iPhone 6/7/8 Plus) */

@media (max-width: 414px) {
    .uk-hidden-mini {
        display: none !important;
    }

    /* Whole */
    .uk-width-mini-1-1 {
        width: 100%;
    }

    /* Halves */
    .uk-width-mini-1-2,
    .uk-width-mini-2-4,
    .uk-width-mini-3-6,
    .uk-width-mini-5-10 {
        width: 50%;
    }

    /* Thirds */
    .uk-width-mini-1-3,
    .uk-width-mini-2-6 {
        width: 33.333%;
    }

    .uk-width-mini-2-3,
    .uk-width-mini-4-6 {
        width: 66.666%;
    }

    /* Quarters */
    .uk-width-mini-1-4 {
        width: 25%;
    }

    .uk-width-mini-3-4 {
        width: 75%;
    }

    /* Fifths */
    .uk-width-mini-1-5,
    .uk-width-mini-2-10 {
        width: 20%;
    }

    .uk-width-mini-2-5,
    .uk-width-mini-4-10 {
        width: 40%;
    }

    .uk-width-mini-3-5,
    .uk-width-mini-6-10 {
        width: 60%;
    }

    .uk-width-mini-4-5,
    .uk-width-mini-8-10 {
        width: 80%;
    }

    /* Sixths */
    .uk-width-mini-1-6 {
        width: 16.666%;
    }

    .uk-width-mini-5-6 {
        width: 83.333%;
    }

    /* Tenths */
    .uk-width-mini-1-10 {
        width: 10%;
    }

    .uk-width-mini-3-10 {
        width: 30%;
    }

    .uk-width-mini-7-10 {
        width: 70%;
    }

    .uk-width-mini-9-10 {
        width: 90%;
    }

    .uk-placeholder {
        padding: 10px;
    }
}

.uk-icon-none {
    font-family: inherit;
}

.uk-icon-thumb-create {}

.uk-icon-thumb-create:before {
    content: "\f03e";
}

.uk-progress-bar {
    line-height: 20px;
    text-shadow: inherit;
    font-size: inherit;
    box-shadow: inherit;
}

/*.uk-icon-spinner:before {
    content: "";
    background: url('../img/load.gif') no-repeat center;
    width: 20px;
    display: inline-block;
    height: 20px;
}*/

.uk-stack {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
}

.uk-stack .uk-icon {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.uk-inline-help .uk-modal-dialog {
    height: 100%;
    top: 0;
}

.uk-inline-help .uk-modal-dialog iframe {
    width: 100%;
    height: calc(100% - 48px);
}

.uk-margin-left-remove {
    margin-left: 0 !important;
}

.uk-margin-right-remove {
    margin-right: 0 !important;
}

.uk-form-label {
    min-width: 32px;
}

/* remove drop-down indicator in datalist */
input[list]::-webkit-calendar-picker-indicator,
input[list]::-webkit-list-button {
    display: none;
}

select:not([multiple]):not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}