.uk-datalist {
    position: relative;
    display: inline-block;
}

/*.uk-form-horizontal .uk-datalist input[type="text"] {
    z-index: 1;
    position: relative;
    width: 92.5%;
    width: calc(100% - 16px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ie .uk-form-horizontal .uk-datalist input[type="text"] {
    width: calc(100% - 24px);
}

.uk-datalist input:focus+select {
    border: 1px solid #66afe9
}

.uk-datalist select:focus~input {
    border-color: #66afe9
}

:root .uk-form-horizontal .uk-datalist input[type="text"] {
    border-right-width: 0;
}

.uk-form-horizontal .uk-datalist select {
    z-index: 0;
    position: absolute;
    left: 0;
}

.uk-form-horizontal .uk-grid-small .uk-datalist select {
    left: 10px;
    width: 95%;
    width: calc(100% - 10px);
}*/

.uk-form-horizontal .uk-datalist select {width: 100%;}

.uk-form-icon input.color {
    padding-left: 20px !important;
    text-transform: lowercase;
}

.uk-form-icon input.color:disabled~span {
    opacity: 0.5;
}

.uk-icon-colorpicker {
    height: 22px;
}


/* Repeatable */

.uk-repeatable .uk-repeatable-create,
.uk-repeatable .uk-repeatable-delete {
    display: none;
}

.uk-repeatable .uk-repeatable-create:first-child {
    display: block;
}

.uk-repeatable+.uk-repeatable .uk-repeatable-delete {
    display: block;
}

.uk-repeatable+.uk-repeatable .uk-repeatable-create {
    display: none;
}

.uk-repeatable .uk-repeatable-hidden-first {
    display: none;
}

.uk-repeatable+.uk-repeatable .uk-repeatable-hidden-first {
    display: block;
}

.uk-repeatable.uk-placeholder {
    padding: 10px;
}

input.color,
input.colour {
    width: 100px;
}

.wf-colorpicker {
    height: 350px;
    max-height: inherit;
    max-width: inherit;
    width: 310px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #444;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    bottom: 100%;
    right: inherit;
}

.wf-colorpicker-simple {
    height: auto;
    width: inherit;
    max-width: 100px;;
    padding: 5px;
}

.wf-colorpicker-simple .uk-icon-close {
    visibility: hidden;
}

.wf-colorpicker-simple #colorpicker {
    min-width: inherit;
    margin: 0;
}

.wf-colorpicker-simple .wf-colorpicker-simple-colors > div {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
}

.wf-colorpicker .uk-tabs {
    height: 91.6%;
    height: calc(100% - 49px);
    position: relative;
}

.wf-colorpicker>div {
    height: 90%;
    height: calc(100% - 10px);
}

.wf-colorpicker>div>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.wf-colorpicker.uk-tooltip-left:after {
    border-left-color: #fff
}

.wf-colorpicker.uk-tooltip-right:after {
    border-right-color: #fff
}

.wf-colorpicker.uk-tooltip-left.uk-tooltip-bottom:after,
.wf-colorpicker.uk-tooltip-right.uk-tooltip-bottom:after,
.wf-colorpicker.uk-tooltip-left.uk-tooltip-top:after,
.wf-colorpicker.uk-tooltip-right.uk-tooltip-top:after {
    display: none;
}

.wf-colorpicker .uk-modal-footer {
    position: relative;
    margin: 5px -8px 0;
    height: 49px;
    box-sizing: border-box;
}

.wf-colorpicker #colorpicker_insert {
    margin: 0;
}

.wf-colorpicker .uk-switcher {
    padding: 0 1px;
}

.wf-colorpicker #colorpicker {
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
}

.wf-colorpicker #colorpicker_tabs .uk-switcher {
    padding: 0;
}

.wf-colorpicker.uk-tooltip-top::after, 
.wf-colorpicker.uk-tooltip-top-left::after, 
.wf-colorpicker.uk-tooltip-top-right::after {
    border-top-color: #fff;
}

.uk-tooltip {
    text-shadow: inherit;
    right: inherit;
    bottom: inherit;
}

.uk-tooltip .uk-icon-close {
    position: absolute;
    right: 3px;
    cursor: pointer;
    z-index: 10;
    padding: 5px;
    top: 0;
    font-size: 0;
}

.uk-tooltip .uk-icon-close:before {
    font-size: 10px;
}

.uk-tooltip h4,
.uk-tooltip p {
    margin: 0;
    color: #fff;
}

.uk-tooltip .tooltip-arrow {
    display: none;
}

.uk-constrain-icon,
.uk-equalize-icon {
    position: relative;
    vertical-align: middle;
    width: 2em;
    text-align: center;
    cursor: pointer;
    line-height: 2em;
    margin: 0;
    padding: 0;
    float: left;
}

.uk-form .uk-constrain-icon input,
.uk-form .uk-equalize-icon input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0 !important;
    padding: 0;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.uk-form .uk-form-constrain .uk-constrain-checkbox,
.uk-form .uk-form-equalize .uk-equalize-checkbox {
    margin: 5px;
}

.uk-isdirty {
    color: inherit !important
}

.uk-form .uk-constrain-container input[type="text"],
.uk-form .uk-constrain-container input[type="number"] {
    width: 65px;
}

.uk-constrain-container {
    padding-left: 10px;
}