.ui-jce .users-select {
    position: relative;
    margin: 10px 0;
}

.ui-jce joomla-field-user+.users-select {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: calc(100% - 48px);
}

.ui-jce joomla-field-user+.users-select joomla-field-fancy-select {
    width: 100%;
}

.ui-jce joomla-field-user+.users-select joomla-field-fancy-select .choices__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}