# Ignore everything
*

extensions/*
libraries/*
views/*

!libraries/pro
!plugins/caption
!plugins/filemanager
!plugins/iframe
!plugins/imgmanager_ext
!plugins/mediamanager
!plugins/microdata
!plugins/templatemanager
!plugins/source
!plugins/textpattern
!plugins/columns

# config
!.gitignore
!.tx
package.json
.DS_Store