# Ignore everything
*

libraries/*
tiny_mce/*
tiny_mce/plugins/*

!libraries/pro
!tiny_mce/plugins/caption
!tiny_mce/plugins/filemanager
!tiny_mce/plugins/iframe
!tiny_mce/plugins/imgmanager_ext
!tiny_mce/plugins/mediamanager
!tiny_mce/plugins/microdata
!tiny_mce/plugins/templatemanager
!tiny_mce/plugins/source_pro

# config
!.gitignore
!.tx


.DS_Store
.project
.buildpath
.settings
.idea