.ui-jce .blockformats {
    position: relative;
}

.ui-jce .blockformats .blockformat-item,
.ui-jce .blockformats .blockformat-item.blockformat-highlight {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px 0;
    min-width: 200px;
    max-width: 300px;
    position: relative;
    background-color: #fff;
}

.ui-jce .blockformats .blockformat-item {
    cursor: move;
    line-height: 30px;
}

.ui-jce .blockformats .blockformat-item i {
    margin: 10px 0;
    color: #ccc;
}

.ui-jce .blockformats .blockformat-item label {
    display: inline-block;
    vertical-align: middle;
}

.ui-jce .blockformats .blockformat-item input {
    margin: 5px 10px;
}

.ui-jce .blockformats .blockformat-item.blockformat-highlight {
    border-style: dashed;
    min-height: 20px;
    margin: 5px 0;
    background-color: #f5f5f5;
}

/* Values based on HTML4 stylesheet - http://www.w3.org/TR/CSS2/sample.html */

.ui-jce .blockformats .blockformat-item .blockformat-code,
.ui-jce .blockformats .blockformat-item .blockformat-samp {
    font-family: monospace
}

.ui-jce .blockformats .blockformat-item .blockformat-strong {
    font-weight: bolder
}

.ui-jce .blockformats .blockformat-item .blockformat-em {
    font-style: italic
}

.ui-jce .blockformats .blockformat-item .blockformat-sub {
    vertical-align: sub
}

.ui-jce .blockformats .blockformat-item .blockformat-sup {
    vertical-align: super
}

.ui-jce .blockformats .blockformat-item .blockformat-h1 {
    font-size: 2em
}

.ui-jce .blockformats .blockformat-item .blockformat-h2 {
    font-size: 1.5em
}

.ui-jce .blockformats .blockformat-item .blockformat-h3 {
    font-size: 1.17em
}

.ui-jce .blockformats .blockformat-item .blockformat-h4 {}

.ui-jce .blockformats .blockformat-item .blockformat-h5 {
    font-size: .83em
}

.ui-jce .blockformats .blockformat-item .blockformat-h6 {
    font-size: .75em
}

.ui-jce .blockformats .blockformat-item .blockformat-span {
    float: none;
    margin: 0;
    display: inline;
}

.ui-jce .blockformats > div:after {
    content: "::";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    line-height: 20px;
    width: 20px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ccc;
}