.ui-jce .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.ui-jce .checkboxes.inline .checkbox {
    display: inline-block;
    padding-right: 20px;
}

.ui-jce .checkboxes .checkbox {
    padding-left: 0;
}

.ui-jce .checkboxes .checkbox input {
    margin: 3px 0.3125rem 0 0;
}

.ui-jce .checkboxes.sortable .checkbox {
    display: block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    cursor: move;
    max-width: 300px;
}

.ui-jce .buttons .mce-btn {background-color: #fff;}

.ui-jce .input-group-append {display: inline-block; vertical-align: middle;}
.ui-jce .input-append .form-text {font-size: 11px;line-height: 28px;}

.ui-jce .input-group-append .btn {margin-left: -1px}

.ui-jce .tabs-left .nav.nav-tabs {
    margin-right: -4px;
    border: 1px solid #dee2e6;
    border-color: transparent #dee2e6 transparent transparent;
    background: transparent;
    box-shadow: initial;
}

.ui-jce .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    box-shadow: initial;

    color: inherit;
    text-align: left;
}

.ui-jce .tabs-left .tab-content {
    border-radius: 0 0 0.25rem 0;
    border: 0;
    padding: 0 15px;
}

.ui-jce .tabs-left .nav.nav-tabs .nav-item {
    background-color: transparent;
}

.ui-jce .tabs-left > .nav-tabs .active > a, 
.ui-jce .tabs-left > .nav-tabs .active > a:hover, 
.ui-jce .tabs-left > .nav-tabs .active > a:focus {
    border: 1px solid #dee2e6;
    border-color: #dee2e6;
    border-right-color: transparent;

    background-color: #fff;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-jce .nav.nav-tabs .nav-item:last-of-type .nav-link {
    box-shadow: initial;
}