body .ui-jce {
    font-size: 12px;
    border-radius: 10px;
}


/* Joomla 1.5 */

.ui-jce fieldset.adminform {
    border: none;
    margin: 0;
}

.ui-jce .form-horizontal .control-label {
    width: auto;
    padding-right: 5px;
    text-align: left;
}

.ui-jce .adminformlist li input+ label {
    padding: 0;
    margin: 0 0 0 10px;
    line-height: 30px;
}

.ui-jce .adminformlist .checkbox-list li input+ label {
    line-height: inherit;
}

#profileAdditionalFeatures li input[type="checkbox"] {
    margin: 7px 10px 2px 0;
}

fieldset input {
    float: none;
}

#updates-list .span1 input[type="checkbox"] {
    margin: 10px;
    vertical-align: middle;
}

.ui-jce .adminformlist .users-list li input+ label {
    margin: 0
}


/* Joomla 2.5 */

.ui-jce .form-horizontal .control-group .radio,
.ui-jce .form-horizontal .control-group .checkbox {
    float: inherit;
    clear: inherit;
    margin: 0;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {
    float: inherit;
    margin: 0 0 10px 0;
}

.ui-jce fieldset.panelform label,
.ui-jce fieldset.adminform label {
    min-width: inherit;
}

.ui-jce .controls .input-append input.color + .add-on {
    width: 24px;
    height: 24px;
}

.ui-jce .add-on .btn {
    padding: 7px 12px;
}