.wf-repeatable-item:first-of-type .wf-repeatable-remove {
    display: none;
}

.wf-repeatable-item {
    position: relative;
}

.wf-repeatable .close {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.wf-repeatable .wf-repeatable-remove {
    top: inherit;
    bottom: 10px;
}

.form-field-repeatable-item {
    display: flex;
}

.form-field-repeatable-item > button {
    max-height: 28px;
}

.form-horizontal .form-field-repeatable-item textarea {
    width: 100%;
    box-sizing: border-box;
}

.form-horizontal .form-field-repeatable-item .control-group {
    margin: 5px 0 0 0;
}

.form-horizontal .form-field-repeatable-item .control-group:first-child {
    margin: 0;
}

.form-field-repeatable-item .form-field-repeatable-add {
    display: none;
}

.form-field-repeatable-item:first-child .form-field-repeatable-add {
    display: inline-block;
}

.form-field-repeatable-item .form-field-repeatable-remove {
    display: inline-block;
}

.form-field-repeatable-item:first-child .form-field-repeatable-remove {
    display: none;
}

.form-field-repeatable-item+.form-field-repeatable-item {
    padding-top: 10px;
}

.form-horizontal .form-field-repeatable-item-group {
    width: 100%;
}

.form-horizontal .form-field-repeatable-item .control-group .controls:first-child,
.form-horizontal .form-field-repeatable-item .control-group .sr-only + .controls {
    margin: 0;
}