.ui-jce .styleformat-collapse > div {
    display: none;
}

.ui-jce .styleformat-collapse .styleformat-header,
.ui-jce .styleformat-collapse .styleformat-item-title {
    display: block;
}

.ui-jce .styleformat .icon-chevron-up {
    display: inline-block;
}

.ui-jce .styleformat .icon-chevron-down {
    display: none;
}

.ui-jce .styleformat-collapse .icon-chevron-down {
    display: inline-block;
}

.ui-jce .styleformat-collapse .icon-chevron-up {
    display: none;
}

.ui-jce .styleformat-list .styleformat-item-plus {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 2px 0;
    max-width: 400px;
    position: relative;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.ui-jce .styleformat-list .styleformat-item-plus {
    border-style: dashed;
}

.ui-jce .styleformat-list .styleformat-item-plus span {
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 2rem;
}

.ui-jce .styleformat-list .styleformat-item-plus .icon {
    margin-right: 10px;
    line-height: 2rem;
    width: 28px;
    height: 28px;
}

.ui-jce .styleformat-list .styleformat-item-trash {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 4px 8px;
}

.ui-jce .styleformat-list .styleformat .styleformat-item-handle {
    position: absolute;
    left: 40px;
    top: 0;
    cursor: move;
    width: calc(100% - 80px);
    display: block;
    height: 32px;
    right: 40px;
}

.ui-jce .styleformat-list .styleformat .collapse {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 16px;
    width: 28px;
    height: 28px;
}

.ui-jce .styleformat-list .styleformat,
.ui-jce .styleformat-list .styleformat-highlight {
    border: 1px solid #CCCCCC;
    padding: 30px 5px 5px;
    max-width: 400px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
}

.ui-jce .styleformat-list .styleformat-highlight {
    border-style: dashed;
    min-height: 46px;
    margin: 10px 0;
    background-color: #F7F7F7;
}

.ui-jce .styleformat-list .styleformat>div {
    margin: 5px 0;
    padding: 5px 10px 5px 5px;
    position: relative;
}

.ui-jce .styleformat-list .styleformat .styleformat-header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 32px;
    margin: 0;
    padding: 0;
}

.ui-jce .styleformat-list .styleformat+div {
    margin-top: 10px;
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title {
    background-color: #eee;
}

.ui-jce .styleformat-list .styleformat div input,
.ui-jce .styleformat-list .styleformat div select {
    max-width: 100%;
    width: 365px;
}

.ui-jce .styleformat-list .styleformat div select {
    width: 100%;
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input {
    font-size: inherit;
    color: inherit;
    float: none;
}

/* Values based on HTML4 stylesheet - http://www.w3.org/TR/CSS2/sample.html */
.ui-jce .styleformat-list .styleformat .styleformat-item-title input.code,
.ui-jce .styleformat-list .styleformat .styleformat-item-title input.samp {
    font-family: monospace
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.strong {
    font-weight: bolder
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.em {
    font-style: italic
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.sub {
    vertical-align: sub
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.sup {
    vertical-align: super
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.h1 {
    font-size: 2em;
    margin: .67em 0
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.h2 {
    font-size: 1.5em;
    margin: .75em 0
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.h3 {
    font-size: 1.17em;
    margin: .83em 0
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.h4 {
    margin: 1.12em 0
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.h5 {
    font-size: .83em;
    margin: 1.5em 0
}

.ui-jce .styleformat-list .styleformat .styleformat-item-title input.h6 {
    font-size: .75em;
    margin: 1.67em 0
}

.ui-jce .styleformat-list .styleformat .styleformat-item-element {
    clear: left
}

.ui-jce .styleformat label {
    display: block;
    min-width: 100px;
}

.ui-jce .styleformat label+input,
.ui-jce .styleformat label+select {
    margin: 0;
}

.ui-jce .styleformat .help-block {}

.ui-jce .styleformat-list .styleformat .styleformat-item-element option:first-child {
    margin: 5px 0;
}