// out: ../css/global.min.css, sourcemap: false, compress: false
@images: "../../../../../components/com_jce/editor/libraries/img";

/*.ui-jce {
    position: relative;
}*/

.ui-jce.row {
    margin-left: -20px;
}

.ui-jce label {
    max-width: 10rem;
}

.ui-jce .radio label,
.ui-jce .checkbox label,
.ui-jce .radio,
.ui-jce .checkbox {
    display: inline-block;
}

.ui-jce .checkboxes input {
    float: initial;
}

.ui-jce .well-light {
    background-color: #fafafa;
}

.ui-jce .form-field-container legend {
    line-height: 2em;
    font-size: 1.25em;
    font-weight: bold;
}

.ui-jce .controls .form-field-container:not(.inset) {
    margin-left: -180px;
}

.ui-jce fieldset.checkboxes {
    display: flex;
}

.ui-jce fieldset.checkboxes.buttons {
    flex-direction: column;
}

@import (inline) "../css/src/compat.css";
@import (inline) "../css/src/tips.css";
@import (inline) "../css/src/color.css";
@import (inline) "../css/src/repeatable.css";
@import "../../../../../components/com_jce/editor/libraries/less/colorpicker.less";