@import url('ui.css?@@etag@@');
@import url('ui_touch.css?@@etag@@');

.mceDefaultSkin .mceToolbar {
	border: 0 none;
	padding: 0;
}

.mceDefaultSkin .mceLayout,
.mceDefaultSkin .mceLayout .mceToolbar {
	border: 0 none !important;
	background: #fff;
}

.mceDefaultSkin .mceToolbarItem div {
	display: inline-block;
}

.mceDefaultSkin .mceLayout .mceStatusbar {
	border: 1px solid #ddd;
	border-top-width: 0;
}

.mceDefaultSkin .mceLayout .mceIframeContainer {
	background: #fff;
	width: 100%;
	position: relative;
	padding: 5px;
	box-sizing: border-box;
	white-space: pre-line;
	border: 1px solid #ddd;
	margin: 0;
}

.mceToolbarRow .mceToolbarItem {
	font-size: 0;
	vertical-align: top;
	line-height: 1;
}

.mceToolbarRow .mceToolbarItem .mceButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.mceToolbarRow .mceToolbarItem .mceButton,
.mceToolbarRow .mceToolbarItem .mceButton .mceIcon {
	cursor: move;
}

.mceToolbarRow .mceToolbarItem .mceButton+.mceButton {
	margin-left: 1px;
}

.mceEditor .mceToolbarItem .mceSplitButton .mceButton+.mceButton {
	margin-left: inherit;
}

.mceDefaultSkin .mceToolbar .mceToolbarRow {
	font-size: 0;
	line-height: 1;
	height: auto;
	min-height: 38px;
	position: relative;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 1px;
	margin-bottom: 2px;
	cursor: move;
	display: block;
}

/*.mceDefaultSkin .mceToolbar .mceToolbarRow:last-child {
	margin: 0;
	border-bottom: 0;
}*/

.mceEditor .mceToolbarItem .mceListBox,
.mceEditor .mceToolbarItem .mceSplitButton {
	width: 100%;
	padding: 0;
	position: relative;
	display: inline-block;
}

.mceEditor .mceToolbarItem .mceListBox .mceIcon {
	display: none;
}

.mceEditor .mceToolbarItem .mceSplitButton .mceIcon {
	display: inline-block;
	margin: 4px 5px;
}

.mceEditor .mceToolbarItem .mceSplitButton {
	width: 48px;
	height: 32px;
	text-align: left;
	font-size: 0;
}

.mceEditor .mceToolbarItem .mceListBox {
	font-size: 0;
	max-width: 114px;
	margin: 0;
}

.mceEditor .mceToolbarItem .mceListBox:before {
	content: attr(title);
	display: inline-block;
	width: 96px;
	background: #fff;
	font-size: 14px;
	line-height: 30px;
	padding: 0 2px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.mceEditor .mceToolbarItem .mceListBox:after,
.mceEditor .mceToolbarItem .mceSplitButton:after {
	content: "\25bc";
	display: inline-block;
	font-size: 9px;
	line-height: 30px;
	color: #444;
	width: 16px;
	text-align: center;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
	background: #f5f5f5;
	vertical-align: top;
}

.mceDefaultSkin .mceStatusbar {
	line-height: 1;
}

.mceDefaultSkinTouch .mceToolBarItem .mceListBox,
.mceDefaultSkinTouch .mceToolBarItem .mceSplitButton {
	border-color: #dcdcdc;
	height: 36px;
}

.mceDefaultSkinTouch .mceLayout .mceToolbar .mceToolbarRow {
	min-height: 38px;
}

.mceDefaultSkinTouch .mceToolBarItem .mceButton {
	padding: 7px;
	border-color: #dcdcdc;

	background-color: #fafafa;
}

.mceDefaultSkinTouch .mceToolBarItem .mceListBox {
	width: 112px;
	padding: 0;
}

.mceDefaultSkinTouch .mceToolBarItem .mceSplitButton {
	width: 55px;
	padding: 0;
	height: 36px;
}

.mceDefaultSkinTouch .mceToolBarItem .mceListBox .mceIcon {
	width: 92px;
}

.mceDefaultSkinTouch .mceToolBarItem .mceListBox .mceIcon:before {
	width: 92px;
	line-height: 34px;
}

.mceDefaultSkinTouch .mceToolBarItem .mceListBox:after,
.mceDefaultSkinTouch .mceToolBarItem .mceSplitButton:after {
	line-height: 34px;
	width: 20px;
	border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceLayout .mceStatusbar {
	border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceLayout .mceIframeContainer {
	border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceLayout .mceToolbarRow {
	background-color: #fafafa;
	border-color: #dcdcdc;
}

.mceDefaultSkinTouch .mceToolbar .sortableRowHandle {
	height: 42px;
}

.mceDefaultSkinTouch .mceToolbar .sortableRowHandle .uk-icon {
	margin: 12px 0 0;
}

.mceDefaultSkinTouch .mceToolBarItem .mceSeparator {
	height: 34px;
	background: #dcdcdc;
}

.mceDefaultSkinTouch .sortableList .mceToolbarRow.sortableListItem.ui-sortable-highlight {
	height: 38px;
}

.mceDefaultSkinTouch .sortableList .mceToolBarItem.sortableRowItem.ui-sortable-highlight {
	height: 36px;
}

.mceDefaultSkinTouch .mceLayout,
.mceDefaultSkinTouch .mceLayout .mceToolbar {
	border: 0 none !important;
	background: #fff;
}

.mceDefaultSkinTouch .mceLayout .mceFirst,
.mceDefaultSkinTouch .mceLayout .mceLast {
	background-color: #fff !important;
}

.mceDefaultSkinTouch .mceLayout .mceStatusbar {
	background-color: #fafafa !important;
}

.mceDefaultSkinTouch .mceToolBarItem .mceListBox::before {
	line-height: 32px;
	width: 90px;
}

.mceDefaultSkinTouch .mceToolbarItem .mceSplitButton .mceIcon {
	margin: 9px;
}

.mceDefaultSkinTouch .mceToolbarItem .mceSplitButton {
	width: 58px;
	height: 40px;
}

.mceDefaultSkinTouch .mceToolbarItem .mceListBox::before {
	line-height: 38px;
}

.mceDefaultSkinTouch .mceToolbarItem .mceListBox::after, 
.mceDefaultSkinTouch .mceToolbarItem .mceSplitButton::after {
	width: 16px;
	line-height: 38px;
}

.checkboxes .mceButton .mceIcon {
	display: inline-block
}

.com_jce .nav-link .mce-toolbar .mce-btn,
.com_jce .nav-link .mce-toolbar .mce-btn button {
	cursor: pointer;
}

.mceLayout .mceStatusbar .mcePathRow {
    background: inherit;
}