@import url('ui.css?@@etag@@');
@import url('../default/ui.admin.css?@@etag@@');

.mceModernSkin .mceToolbarItem .mceSplitButton .mceIcon {
    width: 30px;
    line-height: 2;
    vertical-align: middle;
    height: 2em;
    margin: 0;
}

.mceModernSkin .mceToolbarItem .mceButton:not(.mceListBox),
.mceModernSkin .mceToolbarItem .mceSplitButton:after {
    border-color: transparent;
}

.mceModernSkin .mceToolbarItem .mceButton:hover,
.mceModernSkin .mceToolbarItem.ui-sortable-helper .mceButton {
    border-color: #ddd;
    background-color: #eee;
}

.mceModernSkin .mceToolbarItem.ui-sortable-helper .mceSplitButton:after,
.mceModernSkin .mceToolbarItem .mceSplitButton:hover:after {
    border-left-color: #ddd;
    background-color: #eee;
}

.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_forecolor,
.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_backcolor {
    line-height: 1.5;
}

.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_forecolor:after,
.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_backcolor:after {
    content: "";
    width: 16px;
    height: 4px;
    outline: 1px solid #eee;
    display: block;
    margin: -3px auto;
}

.mceModernSkin span.mce_forecolor:after {
    background-color: black;
}

.mceModernSkin span.mce_backcolor:after {
    background-color: yellow;
}

.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_textcase {
    line-height: 1.75;
}

.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_textcase:before {
    left: 0.25em;
}

.mceModernSkin .mceToolbarItem .mceSplitButton span.mce_textcase:after {
    right: 0.25em;
}