@import url('../default/ui.css?@@etag@@');
@import url('fonts.css?@@etag@@');

.modernSkin .mceToolbar {
    background: #fafafa;
}

.modernSkin .mceToolbarRow .mceToolbarItem {
    background-color: transparent;
    margin: 2px;
}

.modernSkin .mceButton,
.modernSkin .mceSplitButton .mceText a,
.modernSkin .mceSplitButton .mceOpen a,
.modernSkin .mceListBox .mceText a,
.modernSkin .mceListBox .mceOpen a {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.87);
}

.modernSkin .mceButton .mceIcon,
.modernSkin .mceMenuItem .mceIcon,
.modernSkin .mceSplitButton .mceAction {
    color: rgba(0, 0, 0, 0.87);
    height: 1em;
    line-height: 1;
    text-align: center;
    min-width: 1em;
    display: inline-block;
    background: none;
}

.modernSkin .mceButtonDisabled .mceIcon {
    opacity: 0.38;
}

.modernSkin .mceButton:hover {
    border: 1px solid #ddd;
    background-color: #e6e6e6;
}

.modernSkin .mceSplitButton:hover .mceText button,
.modernSkin .mceSplitButton:hover .mceOpen button {
    border-color: #ddd;
    background-color: #e6e6e6;
}

.modernSkin .mceListBox .mceText a {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
    border-left-color: #ddd;
}

.modernSkin .mceListBox .mceOpen a {
    background-color: #fff;

    border-top-color: #ddd;
    border-bottom-color: #ddd;
    border-right-color: #ddd;
}

.modernSkin .mceButtonActive,
.modernSkin .mceButtonSelected,
.modernSkin .mcePanelButtonActive {
    background-color: #e6e6e6;
    border-color: #ddd;
}

.modernSkin .mceSplitButton .mceText button {
    border-color: transparent;
}

.modernSkin .mceSplitButton .mceOpen button {
    border-color: transparent;
}

.modernSkin .mceButtonDialog::before {
    top: -6px;
}

.modernSkin .mceColorPreview {
    outline: 1px solid #e6e6e6;
}

.modernSkin .mceSplitButtonMenu {
    margin-top: 4px;
    position: relative;
}

.modernSkin .mceSplitButtonMenu:before {
    content: "";
    display: block;
    padding: 4px;
    position: absolute;
    width: 38px;
    top: -6px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.modernSkin .mceSplitButton.mcePanelButtonSelected,
.modernSkin .mceSplitButton.mcePanelButtonSelected:hover {
    border: 0 none;
}

.modernSkin .mcePanelButtonSelected .mceSplitButton .mceText button {
    background: #fff;
    border-color: #ddd;
    border-right-color: transparent;
    border-radius: 2px 0 0 0;
}

.modernSkin .mcePanelButtonSelected .mceSplitButton .mceOpen button {
    background: #fff;
    border-color: #ddd;
    border-left-color: transparent;
    border-radius: 0 2px 0 0;
}

.modernSkin .mceSplitButtonSelected .mceSplitButton .mceText button {
    background: #fff;
    border-color: #ddd;
    border-radius: 2px 0 0 0;
}

.modernSkin .mceSplitButtonSelected .mceSplitButton .mceOpen button {
    background: #fff;
    border-color: #ddd;
    border-left-color: transparent;
    border-radius: 0 2px 0 0;
}

.modernSkin .mceColorSplitMenu {
    padding: 2px;
    background: #fff;
}

.modernSkin .mcePanelButtonSelected,
.modernSkin .mcePanelButtonSelected:hover {
    border: 1px solid #ddd;
    background-color: #fff;
}

.modernSkin .mcePanel::before {
    background-color: #fff;
}

.modernSkin .mceListBoxMenu {
    overflow: inherit;
    margin-top: 4px;
}

.modernSkin .mceListBoxSelected .mceText button,
.modernSkin .mceListBoxSelected:hover .mceText button {
    background: #fff;
    border-color: #ddd;
    border-radius: 2px 0 0 0;
}

.modernSkin .mceListBoxSelected .mceOpen button,
.defaultSkin .mceListBoxSelected:hover .mceOpen button {
    background: #fff;
    border-color: #ddd;
    border-left-color: transparent;
    border-radius: 0 2px 0 0;
}

.modernSkin .mceListBoxMenu::before {
    content: "";
    display: block;
    padding: 4px;
    position: absolute;
    width: 102px;
    top: -6px;
    background: #fff;
    left: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}