@import url('ui.css');

.mceMobileSkin .mceToolbarItem .mceListBox, .mceMobileSkin .mceToolbarItem .mceSplitButton {
	border-color: #dcdcdc;
	height: 36px;
}

.mceMobileSkin .mceLayout .mceToolbar .mceToolbarRow {
  min-height: 38px;
}

.mceMobileSkin .mceToolbarItem .mceButton {
  padding: 7px;
  border-color: #dcdcdc;

  background-color: #fafafa;
}

.mceMobileSkin .mceToolbarItem .mceListBox {
  width: 112px;
  padding: 0;
}

.mceMobileSkin .mceToolbarItem .mceSplitButton {
    width: 55px;
    padding: 0;
    height: 36px;
}

.mceMobileSkin .mceToolbarItem .mceListBox .mceIcon {
	width: 92px;
}

.mceMobileSkin .mceToolbarItem .mceListBox .mceIcon:before {
  width: 92px;
  line-height: 34px;
}

.mceMobileSkin .mceToolbarItem .mceListBox:after, .mceMobileSkin .mceToolbarItem .mceSplitButton:after {
  line-height: 34px;
  width: 20px;
	border-color: #dcdcdc;
}

.mceMobileSkin .mceLayout .mceStatusbar {
	border-color: #dcdcdc;
}

.mceMobileSkin .mceLayout .mceIframeContainer {
	border-color: #dcdcdc;
}
.mceMobileSkin .mceLayout .mceToolbarRow {
    background-color: #fafafa;
    border-color: #dcdcdc;
}

.mceMobileSkin .mceToolbar .sortableRowHandle {
  height: 42px;
}
.mceMobileSkin .mceToolbar .sortableRowHandle .uk-icon {
  margin: 12px 0 0;
}
.mceMobileSkin .mceToolbarItem .mceSeparator {
    height: 34px;
    background: #dcdcdc;
}

.mceMobileSkin .sortableList .mceToolbarRow.sortableListItem.ui-sortable-highlight {
  height: 38px;
}

.mceMobileSkin .sortableList .mceToolbarItem.sortableRowItem.ui-sortable-highlight {
  height: 36px;
}
.mceMobileSkin .mceLayout, .mceMobileSkin .mceLayout .mceToolbar {
    border: 0 none !important;
    background: #fff;
}
.mceMobileSkin .mceLayout .mceFirst, .mceMobileSkin .mceLayout .mceLast {
    background-color: #fff !important;
}
.mceMobileSkin .mceLayout .mceStatusbar {
    background-color: #fafafa !important;
}

.mceMobileSkin .mceToolbarItem .mceListBox::before {
  line-height: 32px;
  width: 90px;
}

.mceMobileSkin .mceToolbarItem .mceSplitButton .mceIcon {
  margin: 7px 6px;
}
