/* https://www.google.com/design/spec/style/color.html#color-color-palette */

@import url('../modern/ui.css');

.mobileSkin .mceToolbar {
  background-color: #f5f5f5;
}

.mobileSkin .mceButton {
  padding: 11px;
  border-color: #dcdcdc;
  background-color: #fafafa;
}

.mobileSkin .mcePanelContent .mceButton {
  padding: 4px;
}

.mobileSkin .mceListBox .mceText {
  line-height: 40px;
  height: 40px;
  border-color: #dcdcdc;
}

.mobileSkin .mceListBox .mceOpen {
  height: 40px;
  border-color: #dcdcdc;
  width: 20px;
  background-color: #fafafa;
}

.mobileSkin .mceSplitButton .mceOpen {
  height: 40px;
  border-color: #dcdcdc;
  width: 20px;
  background-color: #fafafa;
}

.mobileSkin .mceSplitButton .mceText {
  border-color: #dcdcdc;
  background-color: #fafafa;
  height: 40px;
}

.mobileSkin .mceSplitButtonMenu::before {
  width: 42px;
  top: -4px;
}

.mobileSkin.mcePanelSplitButton .mcePanel::before {
  width: 50px;
  top: -7px;
}

.mobileSkin .mceSourceSearch .mceTextBox {
  line-height: 40px;
  height: 40px;
}

.mobileSkin .mceIframeContainer {
  border-color: #dcdcdc;
}

.mobileSkin .mceButtonEnabled:hover, .mobileSkin .mceButtonActive, .mobileSkin .mceButtonSelected {
  background-color: #E1F5FE;
  border-color: #81D4FA;
}
.mobileSkin .mceColorSplitMenu button.mceMoreColors:hover {
    border-color: #81D4FA;
    background-color: #E1F5FE;
}
.mobileSkin .mceMenu .mceMenuItemEnabled button:hover, .mobileSkin .mceMenu .mceMenuItemActive {
    background-color: #E1F5FE;
}
.mobileSkin .mceTableSplitMenu {
  width: 135px;
}
.mobileSkin .mceTableSplitMenu table {
  padding: 2px;
}
.mobileSkin .mceTableSplitMenu td {
  border-color: #dcdcdc;
}
.mobileSkin .mceTableSplitMenu .selected {
  background-color: #E1F5FE;
  border-color: #81D4FA;
}
.mobileSkin .mceSeparator {
    height: 34px;
    background: #dcdcdc;
}

.defaultSkin .mceSplitButtonDisabled .mceOpen button:after {
  color: #dcdcdc;
}
