@import url('../default/ui.css');
.o2k7Skin .mceLayout {
    border-left: 1px solid #ABC6DD;
    border-right: 1px solid #ABC6DD
}
.o2k7Skin .mceIframeContainer {
    border-top: 1px solid #ABC6DD;
    border-bottom: 1px solid #ABC6DD
}
.o2k7Skin .mceToolbar {
    background: #E5EFFD
}
.o2k7Skin .mceToolbarRow .mceToolBarItem {
    margin: 1px 0;
    border: 0;
    height: auto;
}

.o2k7Skin .mceToolbarRow .mceToolBarItemListBox {
  margin: 1px;
}

.o2k7Skin .mceStatusbar {
    background: #E5EFFD
}
.o2k7Skin.mceListBoxMenu .mceMenu {
    border-color: #ABC6DD;
}
.o2k7Skin .mceToolBarItem {
    margin: 1px -1px;
}
.o2k7Skin .mceButton {
    margin: 0;
    border-left-width: 0;
    border-color: #9FBBE2;
    background: #E5EFFD;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-right-color: #E0E9F6;
}
.o2k7Skin .mceButton, .o2k7Skin .mceSplitButton {
    /* #D2E1F4 #C1D4EE #C8DBED */
    background: -moz-linear-gradient(top, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229, 239, 253, 1)), color-stop(50%, rgba(193, 212, 238, 1)), color-stop(100%, rgba(229, 239, 253, 1)));
    background: -webkit-linear-gradient(top, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
    background: -o-linear-gradient(top, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
    background: -ms-linear-gradient(top, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
}
.o2k7Skin .mceButtonEnabled, .o2k7Skin .mceButtonEnabled:hover, .o2k7Skin .mceButtonEnabled:active, .o2k7Skin .mceButtonActive, .o2k7Skin .mceButtonSelected {
    border-color: #9FBBE2;
    background-color: #FFD24E;
    /* #FEF6CA #FFD24E #FFFBE9 */
    border-left-width: 0;
    border-right-color: #E0E9F6;
}
.o2k7Skin .mceButton.mceButtonActive, .o2k7Skin .mceButtonEnabled:hover, .o2k7Skin .mceButton:hover, .o2k7Skin .mceButton.mceButtonSelected, .o2k7Skin .mceSplitButton:hover, .o2k7Skin .mceButton:active, .o2k7Skin .mceSplitButton:active, .o2k7Skin .mceListBox .mceOpen a:hover {
    background: -moz-linear-gradient(top, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 246, 202, 1)), color-stop(50%, rgba(255, 211, 78, 1)), color-stop(100%, rgba(255, 251, 233, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
}
.o2k7Skin .mceToolbarRow .mceToolBarItem:first-child {
    margin-left: 2px;
}
.o2k7Skin .mceToolbarRow .mceToolBarItem:first-child .mceButton:first-child, .o2k7Skin .mceToolbarStart .mceToolBarItem:first-child .mceButton:first-child:hover {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
}
.o2k7Skin .mceToolbarRow .mceToolBarItem:last-child .mceButton:last-child, .o2k7Skin .mceToolbarRow .mceToolBarItem:last-child .mceButton:last-child:hover {
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
    border-right-color: #9FBBE2;
}
.o2k7Skin .mceToolbarRow .mceToolBarItemEnd {
  margin-right: 1px;
}

.o2k7Skin .mceToolbarRow .mceToolBarItemStart {
  margin-left: 1px;
}

.o2k7Skin .mceToolbarRow .mceToolBarItemEnd .mceButton,
.o2k7Skin .mceToolbarRow .mceToolBarItemEnd .mceSplitButton .mceOpen a {
  border-right-color: #ABC6DD;
}

.o2k7Skin .mceToolbarRow .mceToolBarItemEnd .mceSplitButton .mceOpen a {
  border-right-width: 1px;
}

.o2k7Skin .mceToolbarRow .mceToolBarItemStart .mceButton,
.o2k7Skin .mceToolbarRow .mceToolBarItemStart .mceSplitButton .mceText a {
  border-left-color: #ABC6DD;
  border-left-width: 1px;
}
.o2k7Skin .mceToolbarRow .mceToolBarItemListBox + .mceToolBarItemListBox {
  margin-left: 1px;
}

.o2k7Skin .mceSeparator {
    width: 2px;
}
.o2k7Skin .mceSeparator, .o2k7Skin .mceToolbarStart, .o2k7Skin .mceToolbarEnd {
    border-width: 0px 1px;
    border-style: solid;
    border-color: #9FBBE2;
    margin: 0 0 0 -1px;
    height: 26px;
    background: transparent none;
}
.o2k7Skin .mceToolbarEnd {
    border-left-width: 1px;
    width: 2px;
    border-right-width: 0;
    box-sizing: border-box;
}
.o2k7Skin .mceToolbarStart {
    border-width: 0 0 0 1px;
    box-sizing: border-box;
}
.o2k7Skin .mceSplitButton .mceText a, .o2k7Skin .mceSplitButton .mceOpen a {
    border-color: #9FBBE2;
    border-radius: 0;
}
.o2k7Skin .mceSplitButton .mceText a {
    border-left-width: 0
}
.o2k7Skin .mceSplitButton .mceOpen a {}
.o2k7Skin .mceSplitButton a.mceAction {
    border-width: 1px 0;
}
.o2k7Skin .mceListBox .mceText a, .o2k7Skin .mceListBox .mceOpen a {
    border-color: #9FBBE2;
    border-radius: 0;
}
.o2k7Skin .mceListBox .mceOpen a:hover {
  border-color: #FFD24E;
}
.o2k7Skin .mceSplitButtonMenu {
    border-color: #9FBBE2;
}
.o2k7Skin .mceSplitButton {
    margin: 0
}
.o2k7Skin .mceSplitButtonDisabled .mceAction, .o2k7Skin .mceSplitButtonDisabled span.mceOpen {
    opacity: 0.3;
    -ms-filter: 'alpha(opacity=30)';
    filter: alpha(opacity=30);
}
.o2k7Skin .mceButtonDialog {
    background-color: #E5EFFD;
    border-color: #ABC6DD;
}
.o2k7Skin .mceButtonDialog::before {
    background-color: #E5EFFD;
    border-color: #ABC6DD;
}

.o2k7Skin .mceColorSplitMenu .mceMoreColors a:hover {
  border-color: #E0E9F6;
  background-color: #FFD24E;
}
