@import url('../default/ui.css?@@etag@@');

.mceO2k7Skin .mceLayout {
    border-left: 1px solid #ABC6DD;
    border-right: 1px solid #ABC6DD
}

.mceO2k7Skin .mceIframeContainer {
    border-top: 1px solid #ABC6DD;
    border-bottom: 1px solid #ABC6DD
}

.mceO2k7Skin .mceToolbar {
    background: #E5EFFD
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItem {
    margin: 1px 0;
    border: 0;
    height: auto;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemListBox {
    margin: 1px;
}

.mceO2k7Skin .mceStatusbar {
    background: #E5EFFD
}

.mceO2k7Skin.mceListBoxMenu .mceMenu {
    border-color: #ABC6DD;
}

.mceO2k7Skin .mceToolbarItem {
    margin: 1px -1px;
}

.mceO2k7Skin .mceToolbarRow .mceButton {
    margin: 0;
    border-left-width: 0;
    border-color: #9FBBE2;
    background: #E5EFFD;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-right-color: #E0E9F6;
}

.mceO2k7Skin .mceToolbarRow > div, .mceO2k7Skin .mceToolbarRow > button {
    margin: 1px 0;
}

.mceO2k7Skin .mceToolbarRow .mceButton,
.mceO2k7Skin .mceToolbarRow .mceSplitButton,
.mceO2k7Skin .mceToolbarRow .mceListBox {
    background: linear-gradient(to bottom, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
}

.mceO2k7Skin .mceToolbarRow .mceButton:hover,
.mceO2k7Skin .mceToolbarRow .mceButton:active,
.mceO2k7Skin .mceToolbarRow .mceButtonActive,
.mceO2k7Skin .mceToolbarRow .mceButtonSelected {
    border-color: #FFD24E;
    background-color: #FFD24E;
    border-left-width: 0;
}

.mceO2k7Skin .mceToolbarRow .mceButton.mceButtonActive,
.mceO2k7Skin .mceToolbarRow .mceButtonEnabled:hover,
.mceO2k7Skin .mceToolbarRow .mceButton:hover,
.mceO2k7Skin .mceToolbarRow .mceButton.mceButtonSelected,
.mceO2k7Skin .mceToolbarRow .mceButton:active,
.mceO2k7Skin .mceToolbarRow .mceSplitButton:active,
.mceO2k7Skin .mceToolbarRow .mceSplitButtonSelected .mceSplitButton {
    background: linear-gradient(to bottom, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
}

.mceO2k7Skin .mceToolbarRow .mceButton.mceButtonDisabled:hover {
    background: linear-gradient(to bottom, rgba(229, 239, 253, 1) 0%, rgba(193, 212, 238, 1) 50%, rgba(229, 239, 253, 1) 100%);
}

.mceO2k7Skin .mceToolbarRow .mceSplitButtonSelected .mceSplitButton .mceText,
.mceO2k7Skin .mceToolbarRow .mceSplitButtonSelected .mceSplitButton .mceOpen,
.mceO2k7Skin .mceToolbarRow .mceSplitButton:hover .mceText,
.mceO2k7Skin .mceToolbarRow .mceSplitButton:hover .mceOpen {
    background: linear-gradient(to bottom, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
    border-color: #FFD24E;
}

.mceO2k7Skin .mceToolbarRow .mceListBox.mceListBoxSelected .mceText,
.mceO2k7Skin .mceToolbarRow .mceListBox.mceListBoxSelected .mceOpen,
.mceO2k7Skin .mceToolbarRow .mceListBox:hover .mceText,
.mceO2k7Skin .mceToolbarRow .mceListBox:hover .mceOpen {
    border-color: #FFD24E;
}

.mceO2k7Skin .mceToolbarRow .mceListBox.mceListBoxSelected .mceOpen,
.mceO2k7Skin .mceToolbarRow .mceListBox:hover .mceOpen {
    background: linear-gradient(to bottom, rgba(254, 246, 202, 1) 0%, rgba(255, 211, 78, 1) 50%, rgba(255, 251, 233, 1) 100%);
}

.mceO2k7Skin .mceToolbarRow .mceSplitButtonDisabled .mceSplitButton:hover .mceText,
.mceO2k7Skin .mceToolbarRow .mceSplitButtonDisabled .mceSplitButton:hover .mceOpen {
    background: inherit;
    border-color: #9FBBE2;
}

.mceO2k7Skin .mceToolbarRow .mceListBoxDisabled .mceListBox:hover .mceText,
.mceO2k7Skin .mceToolbarRow .mceListBoxDisabled .mceListBox:hover .mceOpen {
    border-color: #9FBBE2;
}

.mceO2k7Skin .mceToolbarRow .mceListBoxDisabled .mceListBox:hover .mceOpen {
    background: inherit;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItem:first-child {
    margin-left: 2px;
    border-radius: 2px 0 0 2px;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItem:first-child .mceButton:first-child,
.mceO2k7Skin .mceToolbarStart .mceToolbarItem:first-child .mceButton:first-child:hover {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
}

.mceO2k7Skin .mceToolbarRow > button:first-child, 
.mceO2k7Skin .mceToolbarRow > div:first-child {
    border-left-width: 1px;
    margin-left: 2px;
    border-radius: 2px 0 0 2px;
}

.mceO2k7Skin .mceToolbarRow > button:last-child, 
.mceO2k7Skin .mceToolbarRow > div:last-child {
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
    border-right-color: #9FBBE2;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItem:last-child {
    border-radius: 0 2px 2px 0;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItem:last-child .mceButton:last-child,
.mceO2k7Skin .mceToolbarRow .mceToolbarItem:last-child .mceButton:last-child:hover {
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
    border-right-color: #9FBBE2;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemEnd {
    margin-right: 1px;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemStart {
    margin-left: 1px;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemEnd .mceButton,
.mceO2k7Skin .mceToolbarRow .mceToolbarItemEnd .mceSplitButton .mceOpen {
    border-right-color: #ABC6DD;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemEnd .mceSplitButton .mceOpen {
    border-right-width: 1px;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemStart .mceButton,
.mceO2k7Skin .mceToolbarRow .mceToolbarItemStart .mceSplitButton .mceText {
    border-left-color: #ABC6DD;
    border-left-width: 1px;
}

.mceO2k7Skin .mceToolbarRow .mceToolbarItemListBox+.mceToolbarItemListBox {
    margin-left: 1px;
}

.mceO2k7Skin .mceSeparator {
    width: 2px;
}

.mceO2k7Skin .mceSeparator,
.mceO2k7Skin .mceToolbarStart,
.mceO2k7Skin .mceToolbarEnd {
    border-width: 0px 1px;
    border-style: solid;
    border-color: #9FBBE2;
    margin: 0 0 0 -2px;
    height: 32px;
    background: transparent none;
}

.mceO2k7Skin .mceToolbarEnd {
    border-left-width: 1px;
    width: 2px;
    border-right-width: 0;
    box-sizing: border-box;
}

.mceO2k7Skin .mceToolbarStart {
    border-width: 0 0 0 1px;
    box-sizing: border-box;
}

.mceO2k7Skin .mceToolbarRow .mceSplitButton .mceText,
.mceO2k7Skin .mceToolbarRow .mceSplitButton .mceOpen,
.mceO2k7Skin .mceToolbarRow .mceListBox .mceText,
.mceO2k7Skin .mceToolbarRow .mceListBox .mceOpen {
    border-color: #9FBBE2;
    border-radius: 0;
}

.mceO2k7Skin .mceToolbarRow .mceSplitButton .mceText {
    border-left-width: 0
}

.mceO2k7Skin .mceToolbarRow .mceSplitButton .mceOpen {}

.mceO2k7Skin .mceToolbarRow .mceSplitButton button.mceAction {
    border-width: 1px 0;
}

.mceO2k7Skin .mceToolbarRow .mceListBox .mceText,
.mceO2k7Skin .mceToolbarRow .mceListBox .mceOpen {
    border-color: #9FBBE2;
    border-radius: 0;
}

.mceO2k7Skin .mceToolbarRow .mceListBox .mceOpen:hover {
    border-color: #FFD24E;
}

.mceO2k7Skin .mceToolbarRow .mceSplitButtonMenu {
    border-color: #9FBBE2;
}

.mceO2k7Skin .mceToolbarRow .mceSplitButton {
    margin: 0
}

.mceO2k7Skin .mceToolbarRow .mceSplitButtonDisabled .mceAction {
    opacity: 0.3;
}

.mceO2k7Skin .mcePanel {
    background-color: #E5EFFD;
    border-color: #ABC6DD;
    left: 0;
}

.mceO2k7Skin .mcePanel::before {
    background-color: #E5EFFD;
    border-color: #ABC6DD;
    height: 5px;
    left: -1px;
    top: -5px;
}

.mceO2k7Skin .mceToolbarRow .mceColorSplitMenu .mceMoreColors button:hover {
    border-color: #E0E9F6;
    background-color: #FFD24E;
}

.mceO2k7Skin .mceLinkMenu .mceMenuHtml input {
    border-color: #9FBBE2;
    border-radius: 2px 0 0 2px;
}