.o2k7SkinBlack .mceLayout {
    border-left: 1px solid #535353;
    border-right: 1px solid #535353;
}

.o2k7SkinBlack .mceIframeContainer {
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353
}

.o2k7SkinBlack .mceToolbar {
    background: #535353;
}

.o2k7SkinBlack .mceStatusbar {
    background: #535353;
}

.o2k7SkinBlack .mceLayout .mceFirst {
    border-top-color: #535353;
}

.o2k7SkinBlack .mceLayout .mceLast {
    border-bottom-color: #535353;
}

.o2k7SkinBlack .mceStatusbar div,
.o2k7SkinBlack .mceStatusbar .mcePathRow button,
.o2k7SkinBlack .mceStatusbar .mcePathRow span {
    color: #fff;
}

.o2k7SkinBlack.mceListBoxMenu .mceMenu {
    border-color: #535353;
}

.o2k7SkinBlack .mceButton {
    border-bottom-color: #989FA9;
    background: #535353;
    border-right-color: transparent;
    border-top-color: #CBCFD4;
}

.o2k7SkinBlack .mceButton,
.o2k7SkinBlack .mceSplitButton,
.o2k7SkinBlack .mceListBox .mceOpen button {
    background: linear-gradient(to bottom, rgba(203, 207, 212, 1) 0%, rgba(152, 159, 169, 1) 100%);
}

.o2k7SkinBlack .mceButtonEnabled:hover,
.o2k7SkinBlack .mceButtonEnabled:active,
.o2k7SkinBlack .mceButtonActive,
.o2k7SkinBlack .mceButtonSelected {
    border-color: #FFD24E;
}

.o2k7SkinBlack .mceToolbarRow .mceToolBarItem:first-child .mceButton:first-child,
.o2k7SkinBlack .mceToolbarRow .mceToolBarItem:first-child .mceButton:first-child:hover {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
    border-left-color: #B0B6BE;
}

.o2k7SkinBlack .mceToolbarRow .mceToolBarItem:last-child .mceButton:last-child,
.o2k7SkinBlack .mceToolbarRow .mceToolBarItem:last-child .mceButton:last-child:hover {
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
    border-right-color: #B0B6BE;
}

.o2k7SkinBlack .mceToolbarRow .mceToolBarItem:first-child .mceButton:first-child:hover,
.o2k7SkinBlack .mceToolbarRow .mceToolBarItem:last-child .mceButton:last-child:hover {
    border-color: #FFD24E;
}

.o2k7SkinBlack .mceToolbarRow .mceToolBarItemEnd .mceButton,
.o2k7SkinBlack .mceToolbarRow .mceToolBarItemEnd .mceSplitButton .mceOpen button {
    border-right-color: #B0B6BE;
}

.o2k7SkinBlack .mceToolbarRow .mceToolBarItemStart .mceButton,
.o2k7SkinBlack .mceToolbarRow .mceToolBarItemStart .mceSplitButton .mceText button {
    border-left-color: #B0B6BE;
}

.o2k7SkinBlack .mceSeparator,
.o2k7SkinBlack .mceToolbarStart,
.o2k7SkinBlack .mceToolbarEnd {
    border-color: #B0B6BE;
}

.o2k7SkinBlack .mceSplitButton .mceText button,
.o2k7SkinBlack .mceSplitButton .mceOpen button {
    border-bottom-color: #989FA9;
    border-right-color: transparent;
    border-top-color: #CBCFD4;
    border-left-color: transparent;
}

.o2k7SkinBlack .mceSplitButton .mceOpen button {
    border-left-color: #B0B6BE;
}

.o2k7SkinBlack .mceListBox .mceText button {
    border-color: #B0B6BE;
}

.o2k7SkinBlack .mceListBox .mceOpen button {
    border-color: #B0B6BE;
}

.o2k7SkinBlack .mceSplitButtonMenu {
    border-color: #535353;
}

.o2k7SkinBlack .mceButtonDialog {
    background-color: #535353;
    border-color: #535353;
}

.o2k7SkinBlack .mceButtonDialog::before {
    background-color: #B0B6BE;
    border-color: #535353;
}

.o2k7Skin .mceSplitButtonMenu {
    border-color: #535353;
}