.mceO2k7SkinBlack .mceLayout {
    border-left: 1px solid #535353;
    border-right: 1px solid #535353;
}

.mceO2k7SkinBlack .mceIframeContainer {
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353
}

.mceO2k7SkinBlack .mceToolbar {
    background: #535353;
}

.mceO2k7SkinBlack .mceStatusbar {
    background: #535353;
}

.mceO2k7SkinBlack .mceLayout .mceFirst {
    border-top-color: #535353;
}

.mceO2k7SkinBlack .mceLayout .mceLast {
    border-bottom-color: #535353;
}

.mceO2k7SkinBlack .mceStatusbar div,
.mceO2k7SkinBlack .mceStatusbar .mcePathRow button,
.mceO2k7SkinBlack .mceStatusbar .mcePathRow span,
.mceO2k7SkinBlack .mceWordCount .mceText {
    color: #fff;
}

.mceO2k7SkinBlack.mceListBoxMenu .mceMenu {
    border-color: #535353;
}

.mceO2k7SkinBlack .mceButton,
.mceO2k7SkinBlack .mceButtonDisabled:hover {
    border-bottom-color: #989FA9;
    background: #535353;
    border-right-color: transparent;
    border-top-color: #CBCFD4;
}

.mceO2k7SkinBlack .mceButton,
.mceO2k7SkinBlack .mceSplitButton,
.mceO2k7SkinBlack .mceListBox .mceOpen {
    background: linear-gradient(to bottom, rgba(203, 207, 212, 1) 0%, rgba(152, 159, 169, 1) 100%);
}

.mceO2k7SkinBlack .mceButton.mceButtonDisabled:hover {
    background: linear-gradient(to bottom, rgba(203, 207, 212, 1) 0%, rgba(152, 159, 169, 1) 100%);
}

.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItem:first-child .mceButton,
.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItem:first-child .mceButton:hover {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
    border-left-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceToolbarRow > button:last-child,
.mceO2k7SkinBlack .mceToolbarRow > button:last-child:hover,
.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItem:last-child .mceButton,
.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItem:last-child .mceButton:hover {
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
    border-right-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItemEnd .mceButton,
.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItemEnd .mceSplitButton .mceOpen {
    border-right-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItemStart .mceButton,
.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItemStart .mceSplitButton .mceText {
    border-left-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceSplitButtonDisabled .mceSplitButton:hover .mceText,
.mceO2k7SkinBlack .mceSplitButtonDisabled .mceSplitButton:hover .mceOpen {
    border-bottom-color: #989FA9;
    border-left-color: #B0B6BE;
    border-right-color: transparent;
    border-top-color: #CBCFD4;
}

.mceO2k7SkinBlack .mceListBoxDisabled .mceListBox:hover .mceText,
.mceO2k7SkinBlack .mceListBoxDisabled .mceListBox:hover .mceOpen {
    border-bottom-color: #989FA9;
    border-left-color: #B0B6BE;
    border-right-color: transparent;
    border-top-color: #CBCFD4;
}

.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItem:last-child .mceButton:last-child,
.mceO2k7SkinBlack .mceToolbarRow .mceToolbarItem:last-child .mceButton:last-child:hover {
    border-right-color: transparent;
}

.mceO2k7SkinBlack .mceSeparator,
.mceO2k7SkinBlack .mceToolbarStart,
.mceO2k7SkinBlack .mceToolbarEnd {
    border-color: #B0B6BE;
    background: #535353;
}

.mceO2k7SkinBlack .mceSplitButton .mceText,
.mceO2k7SkinBlack .mceSplitButton .mceOpen {
    border-bottom-color: #989FA9;
    border-right-color: transparent;
    border-top-color: #CBCFD4;
    border-left-color: transparent;
}

.mceO2k7SkinBlack .mceSplitButton .mceOpen {
    border-left-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceListBox .mceText {
    border-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceListBox .mceOpen {
    border-color: #B0B6BE;
}

.mceO2k7SkinBlack .mceSplitButtonMenu {
    border-color: #535353;
}

.mceO2k7SkinBlack .mcePanel {
    background-color: #535353;
    border-color: #535353;
}

.mceO2k7SkinBlack .mcePanel::before {
    background-color: #B0B6BE;
    border-color: #535353;
}

.mceO2k7Skin .mceSplitButtonMenu {
    border-color: #535353;
}

.mceO2k7Skin .mceLinkMenu .mceMenuHtml input {
    border-color: #989FA9;
}